.link{
  color: #333;
  text-decoration: none;
}
/* 未访问的链接   已访问的链接   鼠标在链接上   点击激活链接——在你点击该链接之后，页面正在转向新地址的时候，链接显示此颜色；当你已经到了要链接的页面，然后再返回，原页面上的此链接仍是此颜色*/
.link:link, .link:visited, .link:hover, .link:active{
  color: #333;
  text-decoration: none;
}
.link_right{
  margin-left: 10px;
}
.national_emblem_box img.national_emblem{
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 3px;
}
@media screen and (min-width: 1600px) {
  .footer .backTop {
    position: fixed;
    z-index: 100;
    width: 70px;
    cursor: pointer;
    height: 56px;
    right: 100px;
    bottom: 120px;
    background-image: url("/img/backTop.png");
    background-size: 100% 100%;
  }

  .footer .backTop:hover {
    background-image: url("/img/backTopH.png");
  }

  .footer .logo {
    height: 100px;
    background-color: #000;
  }

  .footer img {
    width: 441px;
    float: right;
    /* margin-right: 70px;
    margin-top: 20px; */
  }
  .national_emblem_box img.national_emblem{
    margin-right: 0px;
    margin-top: 0px;
  }
  .bottom{
    font-size: 12px;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    border-top: 1px solid #333;
  }
}
@media screen and (min-width: 992px) and (max-width: 1600px) {
  .footer .backTop {
    position: fixed;
    z-index: 100;
    width: 56px;
    cursor: pointer;
    height: 44.8px;
    right: 80px;
    bottom: 120px;
    background-image: url("./img/backTop.png");
    background-size: 100% 100%;
  }

  .footer .backTop:hover {
    background-image: url("./img/backTopH.png");
  }

  .footer .logo {
    height: 80px;
    background-color: #000;
  }

  .footer img {
    width: 352px;
    float: right;
    /* margin-right: 56px;
    margin-top: 16px; */
  }
  .bottom{
    font-size: 12px;
    height: 80px;
    line-height: 80px;
    background-color: #fff;
    border-top: 1px solid #333;
  }
}
@media screen and (max-width: 992px) {
  .footer .backTop{
    position: fixed;
    z-index: 100;
    width: 70px;
    cursor: pointer;
    height: 56px;
    right:100px ;
    bottom: 120px;
    background-image: url("./img/backTop.png");
    background-size: 100% 100%;
  }
  .footer .backTop:hover{
    background-image: url("./img/backTopH.png");
  }
  .footer .logo{
    height: .5rem;
    padding: .12rem;
    background-color: #000;
  }
  .footer img{
    width: 2.20rem;
    /* display: block;
    margin: 0 auto; */
  }
  .bottom{
    font-size: .08rem;
    height: .5rem;
    line-height: .5rem;
    background-color: #fff;
    border-top: 1px solid #333;
  }
}