<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>健康食材供应厂-高性价比食材供应厂-彩食鲜配送仓地址-永辉彩食鲜官网</title>
    <meta name="keywords" content="彩食鲜工厂介绍,彩食鲜地址，企业购，彩食鲜配送仓，高性价比食材供应厂">
    <meta name="description" content="永辉彩食鲜工厂介绍包括了分布在北京、重庆、四川、福建、安徽、江苏的工厂信息,更多关于彩食鲜健康食材供应厂信息请访问永辉彩食鲜官方网站."/>
    <link rel="shortcut icon" href="./img/icon.ico">
    <link href="./bootstrap/less/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="baseFooter.css">
    <link rel="stylesheet" href="common.css">
    <!--<link rel="stylesheet" href="./css/aos-animation.css">-->
    <!--<link rel="stylesheet" href="./css/aos.css">-->
    <link rel="stylesheet" href="./css/fullpage.min.css">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <script src="angular.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="stacktrace.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=G3e7VsRWa1UjG4pAIq959Eqs5hDfHpXc"></script>
    <script src="APIConnection.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/fullpage.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <link href="i102.css" rel="stylesheet">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="./js/aos.js"></script>
    <script src="app.js"></script>
    <script src="header.js"></script>
    <script src="baseFooter.js"></script>
    <script src="i102.js"></script>
    <script src="pageUtil.js"></script>
    <script src="baiduUpload.js"></script>
    <script type="text/javascript">
        var Head = document.getElementsByTagName('head')[0],style = document.createElement('style');
        function linkScript(parm, fn) {
            var linkScript;
            if(/\.css[^\.]*$/.test(parm)) {
                linkScript = document.createElement("link");
                linkScript.type = "text/" + ("css");
                linkScript.rel = "stylesheet";
                linkScript.href = parm;
            } else {
                linkScript = document.createElement("script");
                linkScript.type = "text/" + ("javascript");
                linkScript.src = parm;
            }
            Head.insertBefore(linkScript, Head.lastChild)
            linkScript.onload = linkScript.onerror = function() {
                if(fn) fn()
            }
        }
        var htmlDc=document.getElementsByTagName('html')[0];
        setRootSize=function () {
            if($(window).width()<=992) {
                var clientWidth = document.documentElement.clientWidth || document.body.clientWidth;
                var clientHeight = document.documentElement.clientHeight || document.body.clientHeight;
                htmlDc.style.fontSize = clientWidth / 3.75 + 'px';
                htmlDc.style.minHeight = clientHeight + 'px';
            }
        };
        setRootSize();
        $(window).resize(function () {
            setRootSize();
        })
        if($(window).width()<=992){

        }else{
            linkScript('./css/aos-animation.css')
            linkScript('./css/aos.css')
        }
    </script>
    <script type="text/javascript">
        // var _hmt = _hmt || [];
        // (function() {
        //   var hm = document.createElement("script");
        //   hm.src = "https://hm.baidu.com/hm.js?ebade967bb1509cfc80729c8e54d71f0";
        //   var s = document.getElementsByTagName("script")[0];
        //   s.parentNode.insertBefore(hm, s);
        // })();
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?ab52f1ae5eb1c7a9e8bcd4373aebc978";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript">
    </script>
</head>

<body ng-app="iweb" ng-controller="i102">
    <h1>生鲜中央工厂</h1>
<div class="i102">
    <div ng-include="'header.html'"></div>
    <div class="banner" data-ng-style="{'background-image':'url('+staticRootPath+entity.banner+')'}">
        <!--<img width="100%" height="100%" ng-src="{{staticRootPath+entity.banner}}" alt="">-->
    </div>
    <div class="two">
        <div class="container">
            <img class="title" src="./img/i102/two1.png" alt="工厂总介绍">
            <div class="text">
                <img class="two2" src="./img/i102/two2.png" alt="工厂总介绍开始了">
                <img class="two3" src="./img/i102/two3.png" alt="工厂总介绍结束了">
                <div class="inner">
                    <p>{{entity.description}}</p>
                </div>
            </div>
            <div class="imgs clearfix">
                <div class="col-lg-4 col-md-4">
                    <img src="./img/i102/two4.png" ng-src="{{staticRootPath+entity.des1}}" alt="彩食鲜重庆工厂美图">
                </div>
                <div class="col-lg-4 col-md-4">
                    <img src="./img/i102/two5.png" ng-src="{{staticRootPath+entity.des2}}" alt="彩食鲜福州工厂美图">
                </div>
                <div class="col-lg-4 col-md-4">
                    <img src="./img/i102/two6.png" ng-src="{{staticRootPath+entity.des3}}" alt="彩食鲜北京工厂美图">
                </div>
            </div>

        </div>
    </div>
    <div class="three">
        <div class="mapContainer container">
            <div id="myMap">
            </div>
        </div>
        <div class="regions clearfix">
            <div class="container">
                <!-- <div ng-repeat="(index,item) in location" ng-class="['region',factory===index+1&&'active']" ng-click="changeFactory(index+1)">
                    <img ng-if="factory===index+1" src="./img/i102/three3.png" width="68" alt="工厂">
                    {{item.titleText}}
                </div> -->
                <div ng-class="['region','active']">
                    <img src="/img/i102/three3.png" width="68" alt="北京工厂">
                    北京工厂
                  </div>
                  <div ng-class="['region']">
                    重庆工厂
                  </div>
                  <div ng-class="['region']">
                    四川工厂
                  </div>
                  <div ng-class="['region']">
                    福建工厂
                  </div>
                  <div ng-class="['region']">
                    安徽工厂
                  </div>
                  <div ng-class="['region']">
                    江苏工厂
                  </div>
            </div>
        </div>
    </div>
    <div class="four">
        <div class="container">
            <img src="{{location[factory-1].title}}"  class="title" alt="工厂标题">
            <div class="video">
                <img src="{{location[factory-1].centerImg}}" alt="工厂航拍美图">

            </div>
            <div class="line"></div>
            <div class="text" ng-bind-html="location[factory-1].text|showAsHtml">
            </div>
            <div class="pics clearfix">
                <div class="col-lg-6 col-md-6 left">
                    <img src="{{location[factory-1].leftImg}}" alt="工厂操作间实拍">
                </div>
                <div class="col-lg-6 col-md-6">
                    <img src="{{location[factory-1].rightImg}}" alt="工厂工人风采">
                </div>
            </div>
            <div class="text" >
                <h4 style="text-indent: 0px; font-weight:600">永辉彩食鲜官网提供高性价比健康食材供应厂及高效生鲜食材运输 </h4>
                <p >
                    永辉彩食鲜健康食材供应厂布局在北京、重庆、四川、福建、安徽、江苏，作为行业内高性价比食材供应厂，彩食鲜采用专业的食材加工技术，生鲜冷链配送，为客户提供健康食材供应服务，客户可按需定制食材，提升效率。未来，彩食鲜将在更多地方筹建生鲜中央工厂，及时响应客户的各种需求。
                </p>
            </div>
        </div>
    </div>
</div>
<!-- <div ng-include="'baseFooter.html'"></div> -->
<div class="footer " ng-controller="baseFooter">
  <div ng-show="showBack" class="backTop hidden-xs" ng-click="scrollToTop()">
  </div>
  <div class="text-center bottom">
    <p>
      永辉彩食鲜发展有限公司　<a class="link" href="http://www.beian.miit.gov.cn" target="_blank">闽ICP备19014477号</a>
      <span style="width:300px;margin:0 auto; ">
        <a class="link link_right national_emblem_box" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010602007029" target="_blank">
          <img class="link national_emblem" src="/img/icp.png" style="height:20px; width:20px; float: none;"/>
          <span style="display:inline-block; height:20px;line-height:20px;margin: 0px 0px 0px 0px; color:#333;">京公网安备 11010602007029号</span >
        </a>
     </span>
      <a class="link link_right" href="http://blog.freshfood.cn/" target="_blank">彩食鲜技术博客</a>
    </p>
  </div>
</div>
</body>
</html>
