<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>福建工厂介绍-永辉彩食鲜官网</title>
    <meta name="keywords" content="彩食鲜福建工厂">
    <meta name="description" content="这里提供了永辉彩食鲜福建工厂信息,包括工厂地址、服务内容等,更多关于彩食鲜工厂信息请访问永辉彩食鲜官方网站."/>
    <link rel="shortcut icon" href="/img/icon.ico">
    <link href="/bootstrap/less/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/common.css">
    <!--<link rel="stylesheet" href="./css/aos-animation.css">-->
    <!--<link rel="stylesheet" href="./css/aos.css">-->
    <link rel="stylesheet" href="/css/fullpage.min.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <script src="/angular.min.js"></script>
    <script src="/angular-route.js"></script>
    <script src="/stacktrace.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=G3e7VsRWa1UjG4pAIq959Eqs5hDfHpXc"></script>
    <script src="/APIConnection.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/fullpage.min.js"></script>
    <script src="/js/swiper.min.js"></script>
    <link href="/i102.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/app.js"></script>
    <script src="/header.js"></script>
    <script src="/baseFooter.js"></script>
    <script src="/i102.js"></script>
    <script src="/pageUtil.js"></script>
    <script src="/baiduUpload.js"></script>
    <script type="text/javascript">
        // var _hmt = _hmt || [];
        // (function() {
        //   var hm = document.createElement("script");
        //   hm.src = "https://hm.baidu.com/hm.js?ebade967bb1509cfc80729c8e54d71f0";
        //   var s = document.getElementsByTagName("script")[0];
        //   s.parentNode.insertBefore(hm, s);
        // })();
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?ab52f1ae5eb1c7a9e8bcd4373aebc978";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript">
        var htmlDc=document.getElementsByTagName('html')[0];
        setRootSize=function () {
            if($(window).width()<=992) {
                var clientWidth = document.documentElement.clientWidth || document.body.clientWidth;
                var clientHeight = document.documentElement.clientHeight || document.body.clientHeight;
                htmlDc.style.fontSize = clientWidth / 3.75 + 'px';
                htmlDc.style.minHeight = clientHeight + 'px';
            }
        };
        setRootSize();
        $(window).resize(function () {
            setRootSize();
        })
    </script>
</head>
<body ng-app="iweb" ng-controller="i102">
  <div class="i102">
      <div ng-include="'/header.html'"></div>
      <div class="banner" data-ng-style="{'background-image':'url('+staticRootPath+entity.banner+')'}">
          <!--<img width="100%" height="100%" ng-src="{{staticRootPath+entity.banner}}" alt="">-->
      </div>
      <div class="two">
          <div class="container">
              <img class="title" src="/img/i102/two1.png" alt="工厂总介绍" >
              <div class="text">
                  <img class="two2" src="/img/i102/two2.png" alt="工厂总介绍开始了" >
                  <img class="two3" src="/img/i102/two3.png" alt="工厂总介绍结束了" >
                  <div class="inner">
                      <p>{{entity.description}}</p>
                  </div>
              </div>
              <div class="imgs clearfix">
                  <div class="col-lg-4 col-md-4">
                      <img src="/img/i102/two4.png" ng-src="{{staticRootPath+entity.des1}}" alt="彩食鲜重庆工厂美图" >
                  </div>
                  <div class="col-lg-4 col-md-4">
                      <img src="/img/i102/two5.png" ng-src="{{staticRootPath+entity.des2}}" alt="彩食鲜福州工厂美图">
                  </div>
                  <div class="col-lg-4 col-md-4">
                      <img src="/img/i102/two6.png" ng-src="{{staticRootPath+entity.des3}}" alt="彩食鲜北京工厂美图">
                  </div>
              </div>
  
          </div>
      </div>
      <div class="three">
          <div class="mapContainer container">
              <div id="myMap">
              </div>
          </div>
          <div class="regions clearfix">
              <div class="container">
                  <!-- <div ng-repeat="(index,item) in location" ng-class="['region',factory===index+1&&'active']" ng-click="changeFactory(index+1)">
                      <img ng-if="factory===index+1" src="/img/i102/three3.png" width="68" alt="工厂" />
                      {{item.titleText}}
                  </div> -->
                  <div ng-class="['region']">
                      北京工厂
                    </div>
                    <div ng-class="['region']">
                      重庆工厂
                    </div>
                    <div ng-class="['region']">
                      四川工厂
                    </div>
                    <div ng-class="['region','active']">
                      <img src="/img/i102/three3.png" width="68" alt="福建工厂">
                      福建工厂
                    </div>
                    <div ng-class="['region']">
                      安徽工厂
                    </div>
                    <div ng-class="['region']">
                      江苏工厂
                    </div>
                  <!--<div ng-class="['region',factory===2&&'active']" ng-click="changeFactory(2)">-->
                  <!--<img ng-if="factory===2" src="/img/i102/three3.png" width="68" alt="">-->
                  <!--重庆工厂-->
                  <!--</div>-->
                  <!--<div ng-class="['region',factory===3&&'active']" ng-click="changeFactory(3)">-->
                  <!--<img ng-if="factory===3" src="/img/i102/three3.png" width="68" alt="">-->
                  <!--四川工厂-->
                  <!--</div>-->
                  <!--<div ng-class="['region',factory===4&&'active']" ng-click="changeFactory(4)">-->
                  <!--<img ng-if="factory===4" src="/img/i102/three3.png" width="68" alt="">-->
                  <!--福建工厂-->
                  <!--</div>-->
                  <!--<div ng-class="['region',factory===5&&'active']" ng-click="changeFactory(5)">-->
                  <!--<img ng-if="factory===5" src="/img/i102/three3.png" width="68" alt="">-->
                  <!--安徽工厂-->
                  <!--</div>-->
                  <!--<div ng-class="['region',factory===6&&'active']" ng-click="changeFactory(6)">-->
                  <!--<img ng-if="factory===6" src="/img/i102/three3.png" width="68" alt="">-->
                  <!--江苏工厂-->
                  <!--</div>-->
              </div>
          </div>
      </div>
      <div class="four">
          <div class="container">
              <img src="{{location[4-1].title}}"  class="title" alt="工厂标题">
              <div class="video">
                  <img src="{{location[4-1].centerImg}}" alt="工厂航拍美图">
  
              </div>
              <div class="line"></div>
              <div class="text" ng-bind-html="location[4-1].text|showAsHtml">
              </div>
              <div class="pics clearfix">
                  <div class="col-lg-6 col-md-6 left">
                      <img src="{{location[4-1].leftImg}}" alt="工厂操作间实拍">
                  </div>
                  <div class="col-lg-6 col-md-6">
                      <img src="{{location[4-1].rightImg}}" alt="工厂工人风采">
                  </div>
              </div>
  
          </div>
      </div>
  </div>
  <div ng-include="'/baseFooter.html'"></div>
  
  
  
  </body>
</html>
