@media screen and (min-width: 1600px) {
  .i101 {
    padding-top: 100px;
  }
  .i101 .banner {
    height: 420px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .i101 .banner .container {
    position: relative;
    overflow: visible;
    height: 100%;
  }
  .i101 .banner .container .label {
    width: 260px;
    height: 225px;
    display: block;
    position: absolute;
    left: 0;
    padding: 0;
    bottom: -36px;
  }
  .i101 .two {
    padding-top: 68px;
  }
  .i101 .two .title {
    width: 665px;
    display: block;
    margin: 0 auto;
  }
  .i101 .two .text {
    margin-top: 40px;
    color: #333;
    font-size: 16px;
    line-height: 32px;
  }
  .i101 .two .text .item {
    text-indent: 2em;
  }
  .i101 .three {
    padding-top: 75px;
  }
  .i101 .three img {
    width: 100%;
    display: block;
  }
  .i101 .four {
    margin-top: 50px;
    padding-bottom: 80px;
    background-color: #f6f6f6;
  }
  .i101 .four .title {
    display: block;
    margin: 130px auto 0 auto;
    width: 246px;
  }
  .i101 .four .content {
    margin-top: 70px;
  }
  .i101 .four .content .left {
    width: 374px;
    padding-top: 90px;
    float: left;
    margin-left: 90px;
  }
  .i101 .four .content .left img {
    width: 100%;
    height: 100%;
  }
  .i101 .four .content .right {
    padding-left: 116px ;
    float: left;
  }
  .i101 .four .content .right span {
    font-size: 36px;
    position: relative;
    top: 6px;
    margin-right: 20px;
  }
  .i101 .four .content .right li {
    display: flex;
    font-size: 20px;
    color: #333;
    line-height: 52px;
  }
  .i101 .four .content .right li div {
    display: inline-block;
  }
  .i101 .five {
    background-color: #fff;
    padding: 120px 0 140px 0;
  }
  .i101 .five .title {
    width: 880px;
    display: block;
    margin: 0 auto;
  }
  .i101 .five .detail {
    width: 1180px;
    height: 580px;
    display: block;
    margin: 50px auto;
  }
  .i101 .six {
    background-image: url("./img/i101/six1.png");
    background-size: 100% 100%;
    height: 540px;
    color: #fff;
  }
  .i101 .six .text1 {
    margin-top: 180px;
    font-size: 42px;
  }
  .i101 .six .text2 {
    margin-top: 30px;
    font-size: 52px;
    font-weight: bold;
  }
  .i101 .seven {
    padding: 60px 0 90px 0;
    background-color: #fff;
  }
  .i101 .seven .left {
    float: left;
  }
  .i101 .seven .left .textImg {
    width: 496px;
    display: block;
    margin-top: 30px;
  }
  .i101 .seven .left .textImg.flag {
    width: 347px;
  }
  .i101 .seven .right {
    float: left;
  }
  .i101 .seven .right img {
    width: 610px;
    height: 362px;
    margin: 90px 0 0 64px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1600px) {
  .i101 {
    padding-top: 74px;
  }
  .i101 .banner {
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .i101 .banner .container {
    position: relative;
    overflow: visible;
    height: 100%;
  }
  .i101 .banner .container .label {
    width: 208px;
    height: 180px;
    display: block;
    position: absolute;
    left: 0;
    padding: 0;
    bottom: -28.8px;
  }
  .i101 .two {
    padding-top: 54.4px;
  }
  .i101 .two .title {
    width: 532px;
    display: block;
    margin: 0 auto;
  }
  .i101 .two .text {
    margin-top: 32px;
    color: #333;
    font-size: 16px;
    line-height: 32px;
  }
  .i101 .two .text .item {
    text-indent: 2em;
  }
  .i101 .three {
    padding-top: 60px;
  }
  .i101 .three img {
    width: 100%;
    display: block;
  }
  .i101 .four {
    margin-top: 40px;
    padding-bottom: 64px;
    background-color: #f6f6f6;
  }
  .i101 .four .title {
    display: block;
    margin: 104px auto 0 auto;
    width: 196.8px;
  }
  .i101 .four .content {
    margin-top: 56px;
  }
  .i101 .four .content .left {
    width: 299.2px;
    padding-top: 72px;
    float: left;
    margin-left: 60px;
  }
  .i101 .four .content .left img {
    width: 100%;
    height: 100%;
  }
  .i101 .four .content .right {
    padding-left: 60px ;
    float: left;
  }
  .i101 .four .content .right span {
    font-size: 36px;
    position: relative;
    top: 6px;
    margin-right: 20px;
  }
  .i101 .four .content .right li {
    font-size: 20px;
    color: #333;
    line-height: 52px;
  }
  .i101 .four .content .right li div {
    width: 494px;
    display: inline-block;
  }
  .i101 .five {
    background-color: #fff;
    padding: 120px 0 140px 0;
  }
  .i101 .five .title {
    width: 704px;
    display: block;
    margin: 0 auto;
  }
  .i101 .five .detail {
    width: 970px;
    height: 464px;
    display: block;
    margin: 40px auto;
  }
  .i101 .six {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 450px;
    color: #fff;
  }
  .i101 .six .text1 {
    margin-top: 144px;
    font-size: 33.6px;
  }
  .i101 .six .text2 {
    margin-top: 24px;
    font-size: 41.6px;
    font-weight: bold;
  }
  .i101 .seven {
    padding: 48px 0 72px 0;
    background-color: #fff;
  }
  .i101 .seven .left {
    float: left;
  }
  .i101 .seven .left .textImg {
    width: 496px;
    display: block;
    margin-top: 30px;
  }
  .i101 .seven .left .textImg.flag {
    width: 347px;
  }
  .i101 .seven .right {
    float: left;
  }
  .i101 .seven .right img {
    width: 610px;
    height: 362px;
    margin: 90px 0 0 64px;
  }
}
@media screen and (max-width: 992px) {
  .i101 {
    padding-top: 56px;
  }
  .i101 .banner {
    height: 1.05rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .i101 .banner .container {
    position: relative;
    overflow: visible;
    height: 100%;
  }
  .i101 .banner .container .label {
    width: 260px;
    height: 225px;
    display: block;
    position: absolute;
    left: 0;
    padding: 0;
    bottom: -36px;
  }
  .i101 .two {
    padding-top: 0.28rem;
  }
  .i101 .two .title {
    width: 3.325rem;
    display: block;
    margin: 0 auto;
  }
  .i101 .two .text {
    margin-top: 0.2rem;
    color: #333;
    font-size: 0.08rem;
    line-height: 0.2rem;
  }
  .i101 .two .text .item {
    text-indent: 2em;
  }
  .i101 .three {
    padding-top: 0.3rem;
  }
  .i101 .three img {
    width: 100%;
    display: block;
  }
  .i101 .four {
    margin-top: 0.25rem;
    background-color: #f6f6f6;
  }
  .i101 .four .title {
    display: block;
    margin: 0.2rem auto 0 auto;
    width: 1.23rem;
  }
  .i101 .four .content {
    margin-top: 0.1rem;
  }
  .i101 .four .content .left {
    width: 3.13rem;
    height: 3.26rem;
    margin: 0 auto;
  }
  .i101 .four .content .left img {
    width: 100%;
    height: 100%;
  }
  .i101 .four .content .right {
    padding: 0.2rem 0.6rem;
  }
  .i101 .four .content .right span {
    font-size: 0.12rem;
    position: relative;
    margin-right: 0.1rem;
  }
  .i101 .four .content .right li {
    font-size: 0.1rem;
    color: #333;
    line-height: 0.24rem;
    display: flex;
  }
  .i101 .five {
    background-color: #fff;
    padding: 0.3rem 0 0.18rem 0;
  }
  .i101 .five .title {
    width: 2.56rem;
    display: block;
    margin: 0 auto;
  }
  .i101 .five .detail {
    width: 3.56rem;
    height: 1.75rem;
    display: block;
    margin: 0.15rem auto;
  }
  .i101 .six {
    background-image: url("./img/i101/six1.png");
    background-size: 100% 100%;
    height: 1.06rem;
    color: #fff;
  }
  .i101 .six .text1 {
    margin-top: 0.3rem;
    font-size: 0.13rem;
    text-align: center;
  }
  .i101 .six .text2 {
    margin-top: 0.1rem;
    text-align: center;
    font-size: 0.14rem;
    font-weight: bold;
  }
  .i101 .seven {
    padding: 60px 0 90px 0;
    background-color: #fff;
  }
  .i101 .seven .left {
    float: left;
  }
  .i101 .seven .left .textImg {
    width: 496px;
    display: block;
    margin-top: 30px;
  }
  .i101 .seven .left .textImg.flag {
    width: 347px;
  }
  .i101 .seven .right {
    float: left;
  }
  .i101 .seven .right img {
    width: 610px;
    height: 362px;
    margin: 90px 0 0 64px;
  }
}
/*# sourceMappingURL=i101.css.map */