
<div class="i103">
  <div ng-include="'header.html'"></div>
  <div class="banner" data-ng-style="{'background-image':'url('+staticRootPath+entity.banner+')'}">
    <!--<img class="bannerImg" ng-src="{{staticRootPath+entity.banner}}" alt="">-->
    <div class="container">
      <img src="./img/i103/one1.png" class="label"/>
    </div>
  </div>
  <div class="two">
    <div class="container">
      <div ng-if="!detail">
      <div class="item clearfix" ng-click="goDetail(item['_id'])" ng-repeat="item in news">
        <div class="date">
          {{item.mon}}.{{item.day}}
        </div>
        <div class="header">
          <img class="more" src="./img/i103/two2.png" alt="">
        </div>
        <div class="body">
          <div class="left">
            <div class="title">
              {{item.title}}
            </div>
            <div class="text">
              {{item.description}}
            </div>
          </div>
          <div class="right">
            <img ng-src="{{staticRootPath+item.picture}}" alt="">
          </div>
        </div>
      </div>
        <div id="i004page" style="text-align: right"></div>
      </div>

      <!--<div class="detail" ng-if="detail">-->
        <!--<div ng-if="detailId===1">-->
          <!--<div class="title">永辉B2B全品类发力：彩食鲜总部北上，全国布仓，年内50亿销售-->
            <!--<div class="time">发布时间：2019-07-07 | 信息来源：商业观察家</div><img ng-click="close()" class="closed" src="./img/i104/close.png" alt=""></div>-->
          <!--<img class="img" src="./img/i103/one/01.png" alt="">-->
          <!--<div class="text">-->

            <!--永辉超市旗下“彩食鲜”全国总部，日前从福州大本营正式迁址北京。<br/>-->
            <!--这一动作，或始于两方面战略导向：<br/>-->
            <!--一、永辉全面发力B2B市场。彩食鲜将从专注生鲜食材的垂直B2B业务，延伸至囊括快消品、日用品等商超全品类、一站式、集成式供应B端。<br/>-->
            <!--二、彩食鲜2B端的“打法”是抓大放小，路径是自上而下。北上广深一线城市是彩食鲜率先要覆盖的重点区域，然后是福建、西南市场。彩食鲜引入了规模性BD团队，集中做B端用户的拓展。头部企业、跨国公司、大公司是头号客户目标。<br/>-->
            <!--业绩上，彩食鲜称，今年“拿下”50亿元的目标没问题。按永辉超市财报，2018年彩食鲜完成销售24亿元。<br/>-->

          <!--</div>-->
          <!--<div class="text">-->
            <!--<div class="subTitle">一、密集布仓</div>-->
            <!--永辉超市旗下“彩食鲜”全国总部，日前从福州大本营正式迁址北京。<br/>-->
            <!--彩食鲜目前有6座工厂，7个战区。<br/>-->
            <!--2016年，开始在重庆、福建、北京三个市场自建中央工厂；2017年，是安徽、四川；2018年是昆山工厂。去年，是彩食鲜6大工厂同步投产的头一年。<br/>-->
            <!--至今年年底，彩食鲜上海工厂将投产。在深圳，彩食鲜找点建厂。下一步，彩食鲜南京、杭州、西安等地中央工厂也将开建。<br/>-->
            <!--中央工厂投建之外，配送仓是彩食鲜今年上马的新动作。彩食鲜相关负责人告诉《商业观察家》，今年内彩食鲜同步在北上广深、西南市场、福建建仓，为快消品、日用品等企业购做集成配送。<br/>-->
            <!--为效率最高化，彩食鲜配送中转仓，大都希望合并永辉超市大仓。比如重庆、成都，彩食鲜是在永辉超市大仓旁边切一块出来做仓。永辉全国有3个全国型物流中心CDC，9个区域型物流中心RDC。对于一些还没有大仓的区域，比如北京、深圳永辉大仓没有建起来，彩食鲜就先行找地自建。<br/>-->
            <!--整体来看，彩食鲜的扩张布仓，会沿袭永辉做超市的“打法”——核心进入一个城市，开一个店就要轰动全城，然后蜂窝状密集布点，形成规模，再移到下一个城市。<br/>-->
            <!--比如，永辉的福建大本营市场，彩食鲜开始裂变——沿着福州仓山工厂，在福建的9个地市都在找点布仓。因为在福建政府采购领域，彩食鲜已排到首位。<br/>-->
            <!--换言之，有永辉超市的区域，永辉品牌越强大的区域，会是彩食鲜越做密集布点的重点区域。-->
          <!--</div>-->
          <!--<img class="img" src="./img/i103/one/02.png" alt="">-->
          <!--<div class="text">-->
            <!--<div class="subTitle">二、永辉基因</div>-->
            <!--彩食鲜切入B2B赛道，是永辉超市创始人张轩松3年前布下的棋。<br/>-->
            <!--最早，成立彩食鲜的初衷，是希望引入工厂模式，为永辉打造标准化的定型的预包装农产品。2015年底，永辉还找到韩国食品行业巨头CJ集团战略合作，但后由于政策原因，CJ集团退出，永辉超市独立出资成立了北京彩食鲜。<br/>-->
            <!--中央工厂对超市肯定是有价值的。当时，国内超市蔬果基本都散卖。<br/>-->
            <!--而日韩商超门店看上去更干净、整洁，就是因基本没有在门店现场进行包装和宰杀，工厂加工整理完后统一配送门店。繁杂整理工作留到工厂，也可以让农产品更具可追溯性。<br/>-->
            <!--但是，国内整个商超市场对预包装生鲜产品的接受度，没有永辉想象的快速。不完全统计，目前超市精包装果蔬、生鲜类销售占比只在10%－15%。线上“到家”基本上是预包装生鲜，但线上生鲜销量占比不高。<br/>-->
            <!--仅靠预包装生鲜商品，显然是“喂不饱”彩食鲜的6大工厂。彩食鲜工厂的产能，需要除永辉超市及永辉关联合作企业卖场之外的更多的B端渠道，来做消化。<br/>-->
            <!--换句话说，彩食鲜需要跳脱出“大永辉”体系，在整个B2B大版图中去切更大的市场。<br/>-->
            <!--彩食鲜福州中央工厂果蔬打包车间<br/>-->
            <!--给永辉超市、红旗连锁、武汉中百等“大永辉”体系内商超，供应预包装生鲜食材，彩食鲜统称为M（卖场）端生意，去年占比60%。<br/>-->
            <!--彩食鲜预计，数据到明年就会彻底改观。“随着2B业务的增量比M端更快，彩食鲜to外围B端的业务，到年底预计会占到一半多点。未来，2B业务将会成为彩食鲜的主要业务构成。”<br/>-->
            <!--“只要永辉超市能卖的商品，彩食鲜都能提供配送供给。”彩食鲜的采购，相对自由、独立。既可以向母公司永辉云超要并行资源，即搭载永辉云超的采购量获取同等价格商品。<br/>-->
            <!--永辉超市没有的，彩食鲜可单独找供应链做补充。彩食鲜可以根据B端客户需求，实施个性化的定制自采。提供超市没有的、为客户定制的商品。<br/>-->
            <!--商品结构上，彩食鲜向B端供应的sku是以永辉超市的3万支sku作基础量，打造彩食鲜的核心商品1万支sku。其中，彩食鲜工厂生产出来3000支sku，7000支系外围采购。B2B业务的优势是，彩食鲜不需要自己有库存，而是根据订单，向永辉仓做增量采购和调拨。<br/>-->

            <!--目前，彩食鲜B端客户中，政府、企事业机关单位食堂、部队、金融机构大概占70%左右。区域中小连锁餐饮企业、食品加工企业等占比20%左右。<br/>-->

            <!--对于区域知名连锁餐饮企业，彩食鲜的价值在于帮助简化前端。“在一个地区有七八家连锁店的餐饮企业，自身去建工厂并不合算，彩食鲜工厂能提供标准食材。且能按照客户提的需求，针对性定制提供食材，包括和餐饮企业共同研发产品。”<br/>-->

            <!--而对于食品生产中小微制造企业，彩食鲜等于是面向其开放永辉的供应链，比如共享永辉超市有比较大优势的米面粮油蛋等产品，能降低中小微生产企业的原材料采购成本。-->

          <!--</div>-->
          <!--<img class="img" src="./img/i103/one/03.png" alt="">-->
          <!--<div class="text">-->
            <!--<div class="subTitle">-->
              <!--三、集成能力-->
            <!--</div>-->
            <!--今年计提50亿销售，实际是彩食鲜有意把脚步放缓。<br/>-->
            <!--目前B2B赛道刚刚起步，现状还是大家在各自的赛道上往前跑。要有很多的试错空间和试错成本。<br/>-->
            <!--彩食鲜看上去是一个“四不像”。既不是商超，又不是物流，又不是工厂，又不是电商。但是，彩食鲜又具备了四个的基因。<br/>-->
            <!--彩食鲜从零售板块（永辉超市）出来，又服务零售。也可直接做“无店铺零售”。彩食鲜有物流，且是含常温、冷冻、冷链的全温层、全品类物流。食材配送领域，彩食鲜是少数可以做到全冷链食材物流配送的企业。彩食鲜工厂还有蔬果、肉类、水产等生产加工能力。线上彩食鲜App可以做交易平台化。<br/>-->
            <!--从生鲜中央工厂起步，到覆盖商超全品类的2B业务模式来看，彩食鲜显见地在对标全球最大的餐饮食材供应商Sysco（西斯科）。即彩食鲜自己不做餐饮制造，不做供应链，而是做to B市场的组织者、平台商。平台的核心能力就在做集成。<br/>-->
            <!--彩食鲜的to B端订单，单量金额较大。门槛也比行业平均水平略高，1000元起送。大型订单，1家1年达1200万元。1个月是100万的量。这相当于1家永辉mini、永辉生活等小业态店业绩。效率体现在集成能力。<br/>-->
            <!--彩食鲜相关人士告诉《商业观察家》，今年，彩食鲜的核心是要把商超、物流、工厂、电商四大功能板块，穿插在一起，整合形成独具特色集成能力。<br/>-->
            <!--对外，并不急于狂奔做业绩，与彩食鲜对内的整合也有关。<br/>-->
            <!--年初，彩食鲜身份变迁。从永辉独资的下属子公司，变成引进高瓴资本、红杉资本的合资公司。后者联合增资9.5亿元，高瓴持股30%，红杉持股15%。<br/>-->
            <!--增资完成后，彩食鲜完善了专业人才的引进，和原有永辉体系人才、DNA、文化做融合。<br/>-->
            <!--组织架构最大变化是引入了互联网力量——靠一家家店做口碑传播的永辉，此前很少做BD。合资公司彩食鲜，聘请了原阿里铁军之一罗庆元，担纲彩食鲜的CEO。罗庆元原来是阿里铁军缔造者干嘉伟的得力干将。“铁军”的加盟，给彩食鲜带来了一整套的客户拓展经验及人员管理能力。<br/>-->
            <!--其次，永辉体系内整合。彩食鲜供应链板块是永辉元老级的“生鲜高手”林建华来掌舵，他的师傅是永辉原董事郑文宝。据称，林建华在采购、运营、品牌定制等供应链层面极具专业。其副手张叶茂、林春都是原永辉全品类供应链的老将。<br/>-->
            <!--生产端是原永辉西南区老总游达，负责彩食鲜后端运营：拓展工厂、工厂规划建设、生产、产品研发、物流等。<br/>-->
            <!--永辉超市副总裁翁海辉被委派到彩食鲜做综合支持，负责食品安全管控，品牌建设、内控管理、政企关系、后勤及销售支持。<br/>-->
            <!--永辉超市执行副总裁吴光旺，担纲彩食鲜董事长。<br/>-->
            <!--也就是说，彩食鲜的几个联合创始人，通过永辉、高瓴推荐，及社会上公开招聘，组合进了各自领域有丰富经验的拔尖专才。不同基因、文化的团队，需要在内部加速度完成融合。“内部要打磨，有个形成合金的过程。”永辉方面人士说。<br/>-->

          <!--</div>-->
          <!--<img class="img" src="./img/i103/one/04.png" alt="">-->
          <!--<div class="text">-->
            <!--<div class="subTitle">-->
              <!--四、正规军-->
            <!--</div>-->
            <!--彩食鲜业务的布局，源于张轩松3年前的敏锐。但是，大家也都看到了B端市场的机会。<br/>-->
            <!--中国的零售市场，“To C市场已被打得稀里哗啦了，现在能明显的看到在重构。包括互联网企业的介入，新零售企业的介入，很多中小生鲜社区店的介入，2C市场已经不是蓝海了，是拼得非常惨烈的红海。”<br/>-->
            <!--B2B市场有平台撮合式的阿里巴巴，也有自营的京东企业购；过去两三年来，互联网快消品B2B赛道涌现一大批创业公司。各个区域还都有B2B地方诸侯。似乎每一块也都是战场。<br/>-->
            <!--彩食鲜有自信。“能够做好B端的企业并不多。小范围、垂直类领域里，有一些企业脱颖而出，比如冻品类、医药类有专业类B2B服务商，但整体赛道还没有头部企业，或者是很有价值的企业出来。尤其是商超做B端，整体还没有缓过劲来。”<br/>-->
            <!--“比如，阿里撮合式平台，在中间没有起到服务的功能。京东企业购，主打的是办公用品、3C，生鲜食材配送是短板。快消品B2B创业公司、生鲜食材B2B公司，则此前过于注重流量和补贴。区域B2B企业不能做全国市场。服务半径和服务范围没有彩食鲜大。”<br/>-->
            <!--To B端生鲜食材供应是彩食鲜的长项。永辉超市700多亿销售的大盘子中，有300多亿是生鲜。不完全统计，以福建省为例，目前大概50%的政企单位食堂都是由彩食鲜直接供应或间接供应（团膳公司由彩食鲜供应食材）。<br/>-->
            <!--彩食鲜自比是B2B赛道的“正规军”，目标靶向头部企业、政府机关单位、特殊机构等大客户。B端大客户稳固后，一旦降维，把产品的品类分级，中低档放到小微餐饮店、个体夫妻老婆店等，犹如走“下水道”，水到渠成——彩食鲜不但可以收编、替代游击队；又能在“正规军”阵营里不断扩大份额。<br/>-->
            <!--所谓“正规军”，是相对于“小配菜公司＋批发商”的B2B公司，彩食鲜可以“永辉＋彩食鲜”的双品牌，参投政府、大企事业单位的2B业务的招投标，阳光透明运作。彩食鲜有永辉上市公司品牌背书，在食品安全、采购合规上都相对有竞争优势。政府企事业单位及团膳公司食材采购，看重食品安全及规避采购部门灰色地带。<br/>-->
            <!--三是永辉700多家门店基本能做到覆盖全国，这给彩食鲜的服务半径做了保障。基于门店网络，彩食鲜基本上可以全国组织货源和配送。<br/>-->
            <!--“以低于市面的低价，做贴补不是长期可持续的。一旦补贴没有了，价格不便宜了，客户就会流失。B2B平台现在没有核心供应链，产品多来自批发市场。彩食鲜可以依靠永辉的供应链。”<br/>-->
            <!--“一些B2B企业宣称也在往上游走，做基地建供应链，但今天永辉的供应链花了将近20年的时间，供应链的建成，包括基地的打造，怎么跟农民打交道，怎么让农民放心的去做好他自己的农活，怎么以商业反哺农业，对基地文化的导入，基地食品安全品控等种种，永辉有自己的know how。刚介入行业的人，通常摸不到这些窍门。等到对手把网络建起来，至少需要5到10年的时间。5年10年的时间给永辉，永辉又在这个基础上提升了产品。”<br/>-->
            <!--而基于永辉的供应链支撑，基层采购的起量，彩食鲜也有分级定制、供应产品的供应链能力，可以规避采购成本的虚高。比如，根据团膳公司客户需求，按照客户餐标来供应对应产品。<br/>-->
          <!--</div>-->
          <!--<div class="text">-->
            <!--<div class="subTitle">-->
              <!--五、工厂价值-->
            <!--</div>-->

            <!--横向外看，彩食鲜的起点优势，从门店网络到供应链支撑，大都依托永辉这个“母体”的优势。向内看，彩食鲜的工厂有生产工具的自身价值。<br/>-->
            <!--相对快消品B端供应，本质上是个中转物流的“二批商”，彩食鲜有更高的门槛。<br/>-->
            <!--做to B的快消品，目前来看，主要还处于价格比拼阶段。快消品B2B市场的主要玩家还是以先做大规模效益，把流量占住的策略。<br/>-->
            <!--一方面，彩食鲜根本不愿意跟进“价格战”。另一方面，彩食鲜希望更多和头部供应链去谈特渠合作，区别永辉KA渠道，走更具价格竞争力的独立特渠体系。<br/>-->
            <!--不打价格战的“底气”，在于彩食鲜业务中有一半生鲜食材的供应。<br/>-->
            <!--初级农产品销售利薄，彩食鲜工厂能做生产加工的服务集成，提供鱼要杀、肉要切割、果蔬要整理等加工服务，能产生附加值。做出服务溢价。<br/>-->
            <!--而未来，彩食鲜工厂并非设定为简单的加工车间，而是一个集成研发产品中心。如同永辉的生鲜供应链基地，早期以示范基地教农民种菜一样，彩食鲜工厂未来也是B端产品研发的示范车间。研发后找专业性OEM代工公司规模生产。<br/>-->
            <!--类似麦德龙全球较强的定制产品能力，针对B端用户研发生产自有产品，导向B端客户接受。B端用户有规模量做基础，加上用户需求数据，更易结合B端用户需求做C2B定制。<br/>-->
            <!--因为有工厂能力，目前，彩食鲜战略清晰，有取有舍，主攻大公司、头部企业，而“中小餐饮店、夫妻老婆店，不是现阶段彩食鲜所要的”。<br/>-->
            <!--“中小餐饮店、夫妻老婆店大都是互联网平台用低价砸出来的。一旦没有价格优势，就会出现非忠诚客户的流失。B2B平台单单靠价格强势拉流量，时间不会太久。可能还要在供应链上要加强，让客人形成黏性。”<br/>-->
            <!--作为B2B平台的组织者，彩食鲜重视自身的履约能力。一是差异化提供高附加值产品。比如生鲜食材供应上，一些平台基本供的是毛菜，彩食鲜供的是经过整理以后的净菜。得菜率高。<br/>-->
            <!--二是用技术做提升。彩食鲜的技术曾让团队自己都不满意。技术应用一度是彩食鲜的短板。比如客户下单全部用手写，写完以后通过微信传到彩食鲜。彩食鲜前台收到订单后，将订单内容输入到系统，人工汇总，分配采购员任务和物流用车。彩食鲜的技术应用如今要全面改版、提升。<br/>-->
            <!--针对APP下单不实用的问题，彩食鲜正在攻克匹配B端客户采购习惯的下单系统。未来客户下单只通过两种模式。一种通过语音，直接进入彩食鲜后台系统，不再需要人工去录用一遍；第二种是支持手写，彩食鲜系统自动扫描识别入库，按订单自动分配采购员任务和物流用车及路线安排。整个系统可以连接上下游和内部全流程自动化订单安排。高效、稳定、减少订单错漏率。<br/>-->
            <!--彩食鲜工厂内的企业购订单用电子显示屏按出货、到货时间，实时同步订单分拣作业流程。<br/>-->
            <!--第三是把食品安全放在第一位。彩食鲜对食品安全采取高压态势。日常的监控到田间地头的监控，到了彩食鲜工厂还要检测一次。彩食鲜每个工厂都成立了独立的高端检测室，再跟中检、SGS、天祥等权威检测机构合作。-->


          <!--</div>-->
          <!--<img class="img" src="./img/i103/one/05.png" alt="">-->
          <!--<img class="img" src="./img/i103/one/06.png" alt="">-->
          <!--<div class="text">-->
            <!--<div class="subTitle">-->
              <!--六、壁垒-->
            <!--</div>-->
            <!--当然，彩食鲜要成为“中国版Sysco”——一个市值超过500多亿美元的B2B巨头，规模比永辉还大。还有一段长路要走。<br/>-->
            <!--在to B市场，“集团军”作战，也会付出集团军的代价——相对游击队的船小好调头，更自由运作，彩食鲜作为正规军要付出更高的合规成本。此方面，以更大的集团运作to B模式的麦德龙有前车之鉴。<br/>-->
            <!--彩食鲜的机会，布局上占了先机。经过3年的运作，整体是正向发展，客户认知度和认可度和签单率的同比抬升，说明彩食鲜的业务方向是对的。<br/>-->
            <!--而整个赛道很大。餐饮市场总共是4万亿，按照消费途径、餐饮毛利计算，单生鲜食材B2B就是大概15000亿的盘子。而快消品、日用品的企业购市场更大。现在，永辉超市的食品用品团购业务，非“到店”部分也都由彩食鲜来承接。<br/>-->
            <!--工厂跟物流仓的投资，对资金的需求比前端门店要更大一些。在短期3年里，看不到盈利。一旦布局完成，“天网地网”形成以后，别人切不进来的时候，是B2B赚钱的机会。<br/>-->
            <!--依托永辉的规模化优势和现成的供应链，能支撑彩食鲜快速切入B端市场，形成突出的品类和价格的竞争力。而彩食鲜的份额增长，也能反哺永辉超市——从单纯面对2C市场，形成2C＋2B的更大市场布局。<br/>-->
            <!--包括目前彩食鲜正在小规模试跑“无店铺零售”模式，提供单位“到家”，就是试图把永辉超市搬到每个企事业单位的食堂去。永辉的最终目的，还是要B端辐射到C端。<br/>-->
            <!--市场选对了，客户选对了，在通往终点的B2B赛道，看上去彩食鲜心无旁骛。<br/>-->
            <!--2019年，彩食鲜的重心就是建起壁垒，做出价值。<br/>-->
          <!--</div>-->

        <!--</div>-->
        <!--<div ng-if="detailId===2">-->
          <!--<div class="title">-->
            <!--“开放、融合、创新、前行” |-->
            <!--机构代表团参访江苏永辉彩食鲜工厂-->
            <!--<div class="time">-->
              <!--发布时间：2019-07-02 | 信息来源：永辉同道-->
            <!--</div>-->
            <!--<img ng-click="close()" class="closed" src="./img/i104/close.png" alt=""></div>-->
          <!--<div class="text">-->
            <!--6月21日，工商银行、招商银行、建信股权、平安银行、新华保险、中宏人寿、中英人寿、中意资产、诺亚财富等10余家机构组成的代表团莅临江苏永辉彩食鲜工厂参观。永辉彩食鲜创业合伙人程楷、永辉彩食鲜江苏区域总经理胥浩、江苏永辉彩食鲜工厂厂长杨建楠等陪同。-->
          <!--</div>-->
          <!--<div class="text">-->
            <!--江苏彩食鲜供应链发展有限公司于2017年8月30日注册成立，作为永辉彩食鲜的第三代工厂，全厂面积13441.7㎡，拥有水产车间、肉类车间、蔬果车间、净菜车间、沙拉车间、即食三文鱼、干货车间。随着各项生产技术的不断革新，目前已通过ISO9001,ISO22000,ISO14001和OHSAS18001认证，覆盖公司全系列产品。 江苏彩食鲜秉承客户第一，始终致力于为客户提供健康、新鲜、高性价比的食材，为华东地区食堂、餐饮连锁，超市以及各社区团购平台供应新鲜的水果、蔬菜、水产品、各类肉品、干货、即食性水产品和即食果蔬系列。-->
          <!--</div>-->
          <!--<img class="img" src="./img/i103/two/00.png" alt="">-->
          <!--<div class="text">-->
            <!--座谈期间，机构代表团聆听了关于彩食鲜的介绍，了解了彩食鲜的生意模式、服务对象和工厂概况，并当场品尝了江苏彩食鲜工厂的爆款产品-&#45;&#45;Bon沙拉和智利原产三文鱼，对产品的新鲜度和口感给予了高度的评价。为进一步探究这些美味食材的来源，机构代表团在彩食鲜员工的带领下，移步实验室和车间区域，进行实地参观。-->
          <!--</div>-->
          <!--<div class="text">-->
            <!--在检测实验室，实验室食安团队孙华，为机构代表介绍了日常检测的主要内容：第一部分是农药残留，兽药残留残的检测；第二部分是微生物的检测。检测周期也做到了产前，产中和产后的全覆盖，只有顺利通过这些层层关卡的严峻考验，确保每一环节品质可控、安全可控，彩食鲜才会把食材放心交付到客户手中，与客户携手，力保食品安全。-->
          <!--</div>-->
          <!--<img class="img" src="./img/i103/two/01.png" alt="">-->
          <!--<div class="text">-->
            <!--在工厂车间入口区，彩食鲜工作人员向机构代表提供了永辉彩食鲜安全生产服装，演示了员工进出车间所需的洗手、除尘、喷淋除菌的日常流程。进入车间，必须经过换鞋、戴帽、洗手、喷淋消毒感应后，车间门才能打开，最大程度地避免了交叉污染。彩食鲜工作人员对该流程的严格把控和一丝不苟的态度给机构代表留下了深刻的印象。-->
          <!--</div>-->
          <!--<img class="img" src="./img/i103/two/02.png" alt="">-->
          <!--<img class="img" src="./img/i103/two/03.png" alt="">-->
          <!--<div class="text">-->
            <!--在沙拉车间，代表们找到了Bon沙拉如此新鲜美味的“秘诀”，彩食鲜沙拉车间洁净区的标准微生物菌落总数要求低于10CFU，每一道工序都有专人严格把控。在肉品车间，工人装盒后通过自动化输送线，将产品输送到气调间自动包装，气调包装最大程度保持了产品的色泽和新鲜度，延长产品保质期。在水产车间，车间主任向代表们介绍了活鲜的处理流程：活鲜进入车间后，进入暂养池，而后加工去鳞腮内脏，4°水冲洗沥干，最后转到包装区，进行真空包装。除氧真空包装一方面能有效抑制微生物的生长和繁殖，另一个重要功能是防止鱼肉氧化，避免食品变味、变质。在果蔬车间，代表们参观了粗加工组，机器包装组，手工包装组，各生产小组最大程度地满足了不同客户对产品包装、规格多样性的需求，真正做到为客户“量身定制”。-->
          <!--</div>-->
          <!--<img class="img" src="./img/i103/two/04.png" alt="">-->
          <!--<div class="text">-->
            <!--参观过程中，机构代表们拿起了一袋袋蔬菜，在工作人员的指引下扫描包装上食品安全溯源二维码，看到手机上显示出“彩食鲜“精品菜的进货批次、产地、供应商、检测标准、检测结果、检测项目等详细信息时，机构代表们对永辉彩食鲜采用的食品安全溯源系统给予了高度评价。-->
          <!--</div>-->
          <!--<img class="img" src="./img/i103/two/05.png" alt="">-->
          <!--<div class="text">-->
            <!--通过此次参观，机构代表对“产地直采，冷链加工，冷链配送，冷链追踪”有了更形象直观的理解，10余家机构对永辉彩食鲜及江苏彩食鲜工厂给予了：“管理有序、设备及标准领先、模式生命力强、食材安全放心”的充分肯定和高度赞赏。-->
          <!--</div>-->
          <!--<img class="img" src="./img/i103/two/06.png" alt="">-->
          <!--<div class="text">-->
            <!--最后，彩食鲜创业合伙人程楷代表彩食鲜团队向10余家机构代表对此次莅临永辉彩食鲜，并长期以来对永辉彩食鲜的关心、支持表示了衷心的感谢，期待在不久的将来，加强机构与永辉彩食鲜的紧密联合互动，共同拥抱中国巨大的食材市场机遇，发挥永辉彩食鲜的供应链优势，共同开拓广阔的发展空间，让更多的中国人吃上健康、安全、新鲜的食材。-->
          <!--</div>-->
          <!--<img class="img" src="./img/i103/two/07.png" alt="">-->
        <!--</div>-->
        <!--<div ng-if="detailId===3">-->
          <!--<div class="title">-->
            <!--永辉彩食鲜在重庆举行第二季度食品安全会议-->
            <!--<div class="time">-->
              <!--发布时间：2019-06-21 | 信息来源：永辉同道-->
            <!--</div>-->
            <!--<img ng-click="close()" class="closed" src="./img/i104/close.png" alt=""></div>-->
          <!--<div class="text">永辉彩食鲜建设初期就将食品安全放在首位。根据管理层战略，每季度由公司高层牵头，平台负责具体落实，召集下属区域组织召开食品安全会议，并根据各区域的阶段性食品安全工作，进行有效的落地培训，本次会议日程为2019年6月11日到2019年6月13日，选择最早成立的重庆彩食鲜工厂为会议地点，“提升，赋能，共创，前行”为本次会议主题。</div>-->
          <!--<img class="img" src="./img/i103/three/01.png" alt="">-->
          <!--<div class="text">-->
            <!--永辉彩食鲜联合创始人翁海辉和重庆工厂厂长赵致伟一起参加开幕式，翁海辉期间谈到国家、行业、企业社会责任和企业文化，肯定前期食品安全相关工作，根据新的形势提出新的要求，新的期许。勉励食品安全部门作为专业的管理团队，切实做好服务和赋能工作，为永辉彩食鲜健康发展保驾护航，最后预祝本次食品安全会议圆满举行。-->
          <!--</div>-->
          <!--<img class="img" src="./img/i103/three/02.png" alt="">-->
          <!--<div class="text">-->

            <!--永辉彩食鲜食品安全负责人董菡进行关于食品安全的重要分享，从公司的愿景、食品安全文化、食品安全战略、人才培养以及公司的食品安全人员架构，阐述永辉彩食鲜对食品安全的理解和整体布局，要求各个区域食安负责人以公司经营方向为导向，明确工作重心；重要问题先行、关键程序落实，养成良好的食品安全行为习惯，绝不能因为食品安全的问题“丢单”。通过本次集中培训会议，使与会伙伴夯实了如下认知：-->
          <!--</div>-->
          <!--<div class="text">-->
          <!--◆深入认识到企业愿景、质量目标、质量方针与公司食品安全方面的发展规划。明确食安质量中心主管的角色定位、食品安全工作计划以及后期发展方向。-->
          <!--</div>-->
            <!--<div class="text">-->
          <!--◆明确并落实管理人员食品安全职责“谁主管，谁负责”。-->
            <!--</div>-->
          <!--<div class="text">-->
          <!--◆严把供应商准入资质管理与合规性审核。-->
          <!--</div>-->
          <!--<div class="text">-->
          <!--◆通过聘请三家行业知名的认证审核公司ITS、SGS以及中检集团（CCIC），协助督促各个区域落实食品安全法律法规要求及体系认证落地。通过专家设计审核方案及讲解审核细则提升彩食鲜的食品安全管理水平。-->
          <!--</div>-->
          <!--<div class="text">-->
          <!--◆解析热点食品安全案例，结合区域食品安全经营情况，查找薄弱环节，加以讨论和深入。以此次讨论结果为后期开展工作的指南针。-->
          <!--</div>-->
          <!--<div class="text">-->
          <!--◆目前彩食鲜以外部审核为抓手，降低各个区域食品安全风险，审核项目涵盖彩食鲜区域审核，每季度评估风险等级；仓及项目合伙人，进行定期和飞行检查，充分评估风险等级；供应商审核，每年开展一次风险评估；自有品牌审核，分为合作前和合作后审核；标签审核，为各个区域工厂赋能进行所有食品农产品标签审核。-->
          <!--</div>-->
          <!--<div class="text">-->
          <!--◆明确食品安全培训计划，包括区域工厂落地培训员工；平台TTT食安培训，培训讲师技巧，平台组织编写培训教材，并对各个区域进行预培训；平台食安赋能，由平台相关部门赋能培训客户及相关供应商；外部讲师培训，内部培养专业培训讲师以及审核人员。打造完善的食安&品控团队，熟练掌握岗位技能，为彩食鲜发展储备人才。-->
          <!--</div>-->
          <!--<div class="text">-->
          <!--食安一行人进行共创，达成以下结论：-->
          <!--</div>-->
          <!--<div class="text">-->
          <!--◆ 每个季度对各个区域进行外部审核，并奖优罚劣；-->
          <!--</div>-->
          <!--<div class="text">-->
          <!--◆ 进一步对审核表涉及的内容进行细化，使其更加贴合工厂端实际情况；-->
          <!--</div>-->
          <!--<div class="text">-->
          <!--◆详细了解评分规则以及其他外部评审中可能涉及的KO条款进行重点说明，为以后区域工厂端迎接审核奠定良好的基础。-->
          <!--</div>-->
          <!--<img class="img" src="./img/i103/three/03.png" alt="">-->

          <!--<div class="text">-->
            <!--各区域汇报第二季度工厂食安管理情况，对食安工作进行复盘，关于难点痛点剖析、下一个季度的工作内容展望和重点项目分享。本次会议形式多样，在探讨到专业问题时，进行专业互动，比如选择几十枚有错误的食品标签，分组交流讨论，促进对食品标签、农产品标签的深入理解和认识。进行1对1关于质量工具“PDCA”的交流，并上台分享自己的心得，通过大家互动共创，相互取长补短。-->
          <!--</div>-->

          <!--<div class="text">-->
            <!--◆深入学习GB 7718&GB 28050在标签方面的要求；-->
           <!--</div>-->
           <!--<div class="text">-->
            <!--◆深入学习到农产品相关管理要求以及标签规范；-->
           <!--</div>-->
          <!--<div class="text">-->
            <!--◆分享到三方审核、二方审核以及内审的区别以及流程，为以后的审核打下基础；-->
          <!--</div>-->
          <!--<div class="text">-->
            <!--◆学习到实验室内部建设以及检测相关技术。-->
          <!--</div>-->
          <!--<img class="img" src="./img/i103/three/04.png" alt="">-->
          <!--<div class="text">-->
            <!--根据本次会议安排，中检集团老师深入解读食品安全质量管理工作的基本概念，从食品安全法、食用农产品市场销售质量安全监督管理办法等法律法规到ISO22000等食品安全管理体系，从食品安全基础知识到质量管理的5大工具7大手法，GMP、HCACCP到SSOP，并分别从产地控制管理、原材料采购、加工，食品添加剂的使用，工厂工作人员的卫生管理等方面。通过学习，区域工厂了解到如何建立食品安全管理体系，体系如何有效运行以及运行过程中的重点工作。-->
          <!--</div>-->
          <!--<div class="text">-->
            <!--分享会后，重庆工厂厂长赵致伟邀请中检集团老师和食品安全一行人到重庆工厂进行参观，结合食品安全质量管理体系要求，进行落地式的现场说明，从书本上的要求搬到生产现场，进行一一解读，各区域食安负责人从中获益良多。现场参观后，中检老师对重庆工厂硬件设备，工厂6S管理，以及质量管理工作高度认可。-->
          <!--</div>-->
          <!--<img class="img" src="./img/i103/three/05.png" alt="">-->
          <!--<div class="text">-->
            <!--各个区域进行针对性考核，均通过考试并获得证书邀请永辉彩食鲜联合创始人游达、联合创始人翁海辉和重庆工厂厂长赵致伟一起为考试合格的人员颁发证书。并对本次会议进行简单的总结，永辉彩食鲜是有责任感，有使命感的企业，各位区域食安负责人应坚守红线，为用户提供安全、健康的食材而努力。          </div>-->
          <!--<img class="img" src="./img/i103/three/06.png" alt="">-->
          <!--<img class="img" src="./img/i103/three/07.png" alt="">-->
          <!--<img class="img" src="./img/i103/three/08.png" alt="">-->
        <!--</div>-->
        <!--<div ng-if="detailId===4">-->
          <!--<div class="title">-->

            <!--喜迁新总部，启航新时代 |-->
            <!--永辉彩食鲜总部办公室正式入驻北京-->
            <!--<div class="time">-->
              <!--发布时间：2019-06-07 | 信息来源：永辉同道-->
            <!--</div>-->
            <!--<img ng-click="close()" class="closed" src="./img/i104/close.png" alt=""></div>-->
          <!--<img class="img" style="width: 700px;display: block;margin: 50px auto 0 auto"  src="./img/i103/four/01.png" alt="">-->
          <!--<img class="img" src="./img/i103/four/02.png" alt="">-->
          <!--<div class="textTitle">-->

            <!--喜迁新总部<br/>-->
            <!--启航新时代-->

          <!--</div>-->
          <!--<div class="text">-->
            <!--承天时，聚地利，凝人和；“彩迁福地，共展“京”图。2019年6月3日，永辉彩食鲜发展有限公司新总部乔迁典礼在北京市丰台区丰科路房天下大厦隆重举行。-->
          <!--</div>-->
          <!--<img class="img" src="./img/i103/four/03.png" alt="">-->
          <!--<div class="text">-->
            <!--永辉彩食鲜董事长吴光旺，CEO、创业合伙人罗庆元及永辉彩食鲜创业合伙人团队游达、翁海辉、林建华、程楷等领导，出席了乔迁典礼，同时永辉超市股份有限公司独董刘晓鹏、永辉超市股份有限公司副总裁彭华生、永辉金融公司总经理周著峰、高瓴资本沈哲懿、张蕊等嘉宾也亲临现场，送来了祝福。全体彩食鲜人共同参与并见证了这一激动人心的重要时刻。          </div>-->
          <!--<img class="img" src="./img/i103/four/04.png" alt="">-->
          <!--<div class="text">-->

            <!--永辉彩食鲜发展有限公司CEO、创业合伙人罗庆元为典礼致辞。他首先向彩食鲜总部所有员工及到场嘉宾表达了诚挚的感谢和欢迎，感谢一直关心和支持彩食鲜发展的客户和供应商。“永辉彩食鲜始终以客户为中心，致力于满足客户需求，提供安全、健康、高性价比的食材，它不仅仅是一个创业项目，更是一项民生事业、百姓工程。我们打造品牌农产品，提高农产品附加值，为酒店、食堂和餐饮业、连锁超市提供可溯源的、标准化的农副产品，为机关、大型企事业单位提供专享非店零售服务。我们目标在五年内成为国内食材服务商的领导品牌，让永辉彩食鲜成为受人尊重的优质B2B食材供应商”。          </div>-->
          <!--<img class="img" src="./img/i103/four/05.png" alt="">-->
          <!--<img class="img" src="./img/i103/four/06.png" alt="">-->

          <!--<div class="text">-->
            <!--彩食鲜新总部大厦的正式入驻，将成为彩食鲜发展史上又一里程碑，亦为新发展篇章再添浓墨重彩的一笔。<br/>-->
            <!--荣迁北京新总部，标志着彩食鲜开启了发展新时代、新格局、-->
          <!--</div>-->
          <!--<img class="img" src="./img/i103/four/07.png" alt="">-->
          <!--<div class="textTitle">-->

            <!--家人齐欢聚<br/>-->
            <!--晚宴暖人心-->

          <!--</div>-->
          <!--<div class="text">-->
            <!--随着新总部的入驻，彩食鲜人也迎来了进驻“新家”的第一顿饭。彩食鲜的团队，究竟是一只怎样的团队？不妨跟着镜头一起去看看……          </div>-->
          <!--<img class="img" src="./img/i103/four/08.png" alt="">-->
          <!--<img class="img" src="./img/i103/four/09.png" alt="">-->
          <!--<div class="text">-->
            <!--在这里，有一批老员工，他们在永辉服务超过十年；还有一批新员工，他们在几个月前刚刚加入永辉彩食鲜，在晚宴上，他们通过VCR的形式分享了自己与永辉和彩食鲜的故事。无论老将还是新兵，他们都在为共同的梦想而奋斗，他们如今都有一个共同的名字—永辉彩食鲜人。在社会经济持续快速发展的今天，市场竞争日益激烈，而永辉彩食鲜凭借生鲜供应链的优势资源以及完善的洽谈合作体系，致力于将最优质的服务于首都及全国各地的部队、银行、院校、医院等B2B客户，努力发展成为百亿、千亿企业。          </div>-->
          <!--<img class="img" src="./img/i103/four/10.png" alt="">-->
          <!--<div class="text">-->
            <!--新时代，新格局，新起点！此次总部乔迁首都北京，永辉彩食鲜站在新的起点，将以新的姿态再出发，融合共享，成于至善，努力成长为B2B食材服务行业龙头，让更多中国人吃上新鲜、丰富、放心的食材。-->
          <!--</div>-->
          <!--<div class="text">-->
            <!--永辉彩食鲜发展有限公司-是永辉超市旗下的食材中央管理中心，是永辉创新的生鲜加工产品、食品及关联性产品供应链集成部门，2018年11月与高瓴、红杉资本成立合资公司。目前已在福建、重庆、北京、安徽、江苏、四川建立生鲜加工厂，承载B2B(政企单位、部队食堂及酒店、餐饮等行业顾客、食品加工型企业)、B2B2C及零售连锁渠道各业态门店（含大、中及小型门店）的业务，致力于为客户提供安全、健康、高性价比的食材。          </div>-->
        <!--</div>-->
      <!--</div>-->

    </div>


  </div>
</div>
<div ng-include="'baseFooter.html'"></div>
