@media screen and (min-width: 1600px) {
  .i104 {
    padding-top: 100px;
    background-color: #fff;
  }
  .i104 .banner {
    height: 420px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .i104 .tabs {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: -38px;
  }
  .i104 .tabs .tab {
    width: 600px;
    height: 76px;
    float: left;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    line-height: 76px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
  }
  .i104 .tabs .tab.active {
    background: #84C759;
  }
  .i104 .content {
    margin-top: 20px;
    text-align: center;
    vertical-align: top;
  }
  .i104 .content .icon {
    width: 190px;
    display: inline-block;
    height: 250px;
    cursor: pointer;
  }
  .i104 .content .icon img {
    width: 100%;
    height: 100%;
  }
  .i104 .content .title {
    font-size: 42px;
    color: #6FBA2C;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .i104 .content .subText {
    color: #7F8080;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .i104 .content .bottomImg {
    width: 100%;
    margin: 40px auto;
  }
  .i104 .content .item {
    padding: 10px;
    position: relative;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    width: 1178px;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .i104 .content .item .body .left {
    width: 468px;
    float: left;
  }
  .i104 .content .item .body .left img {
    display: block;
    width: 440px;
    height: 332px;
  }
  .i104 .content .item .body .right {
    float: left;
    width: 656px;
  }
  .i104 .content .item .body .right .title {
    font-size: 30px;
    color: #666666;
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .i104 .content .item .body .right .text {
    font-size: 16px;
    color: #666;
    margin-top: 48px;
    line-height: 32px;
    text-indent: 2em;
    height: 126px;
    overflow-y: hidden;
  }
  .i104 .content .detail {
    padding-bottom: 60px;
  }
  .i104 .content .detail .title {
    font-size: 36px;
    padding: 0 90px;
    color: #6FBA2C;
    text-align: left;
    position: relative;
  }
  .i104 .content .detail .title .closed {
    position: absolute;
    width: 80px;
    cursor: pointer;
    height: 80px;
    right: 0;
    top: 0;
  }
  .i104 .content .detail .text {
    margin-top: 40px;
    font-size: 16px;
    line-height: 32px;
    color: #666;
  }
  .i104 .content .detail .img {
    display: block;
    width: 100%;
    margin-top: 40px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1600px) {
  .i104 {
    padding-top: 74px;
    background-color: #fff;
  }
  .i104 .banner {
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .i104 .tabs {
    width: 970px;
    margin: 0 auto;
    position: relative;
    top: -30.4px;
  }
  .i104 .tabs .tab {
    width: 50%;
    height: 60.8px;
    float: left;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    line-height: 60.8px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
  }
  .i104 .tabs .tab.active {
    background: #84C759;
  }
  .i104 .content {
    margin-top: 16px;
    text-align: center;
  }
  .i104 .content .icon {
    width: 152px;
    display: inline-block;
    height: 200px;
    cursor: pointer;
  }
  .i104 .content .icon img {
    width: 100%;
    height: 100%;
  }
  .i104 .content .title {
    font-size: 33.6px;
    color: #6FBA2C;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 48px;
  }
  .i104 .content .subText {
    color: #7F8080;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .i104 .content .bottomImg {
    width: 100%;
    margin: 40px auto;
  }
  .i104 .content .item {
    padding: 10px;
    position: relative;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    width: 970px;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .i104 .content .item .body .left {
    width: 374.4px;
    float: left;
  }
  .i104 .content .item .body .left img {
    display: block;
    width: 352px;
    height: 265.6px;
  }
  .i104 .content .item .body .right {
    float: left;
    width: 572px;
  }
  .i104 .content .item .body .right .title {
    font-size: 24px;
    color: #666666;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .i104 .content .item .body .right .text {
    text-align: left;
    font-size: 16px;
    color: #666;
    line-height: 32px;
    text-indent: 2em;
    height: 126px;
    overflow-y: hidden;
  }
  .i104 .content .detail {
    padding-bottom: 60px;
  }
  .i104 .content .detail .title {
    font-size: 36px;
    padding: 0 90px;
    color: #6FBA2C;
    text-align: left;
    position: relative;
  }
  .i104 .content .detail .title .closed {
    position: absolute;
    width: 80px;
    cursor: pointer;
    height: 80px;
    right: 0;
    top: 0;
  }
  .i104 .content .detail .text {
    margin-top: 40px;
    font-size: 16px;
    line-height: 32px;
    color: #666;
  }
  .i104 .content .detail .img {
    display: block;
    width: 100%;
    margin-top: 40px;
  }
}
@media screen and (max-width: 992px) {
  .i104 {
    padding-top: 56px;
    background-color: #fff;
  }
  .i104 .banner {
    height: 1.05rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .i104 .tabs {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -0.19rem;
  }
  .i104 .tabs .tab {
    width: 50%;
    height: 0.38rem;
    float: left;
    text-align: center;
    font-size: 0.15rem;
    cursor: pointer;
    line-height: 0.38rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
  }
  .i104 .tabs .tab.active {
    background: #84C759;
  }
  .i104 .content {
    margin-top: 20px;
  }
  .i104 .content .icon {
    width: 0.95rem;
    display: inline-block;
    height: 1.25rem;
    float: left;
    cursor: pointer;
  }
  .i104 .content .icon img {
    width: 100%;
    height: 100%;
  }
  .i104 .content .icon:nth-child(1),
  .i104 .content .icon:nth-child(4) {
    margin-left: 0.3rem;
  }
  .i104 .content .title {
    font-size: 0.21rem;
    color: #6FBA2C;
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
  }
  .i104 .content .subText {
    color: #7F8080;
    text-align: center;
    margin-bottom: 0.1rem;
    font-size: 0.12rem;
  }
  .i104 .content .bottomImg {
    width: 100%;
    margin: 0.2rem auto;
  }
  .i104 .content .item {
    padding: 0.1rem;
    position: relative;
    border: 1px solid #ddd;
    margin-bottom: 0.15rem;
    width: 3.5rem;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .i104 .content .item .body .left {
    width: 3.3rem;
  }
  .i104 .content .item .body .left img {
    display: block;
    width: 3.3rem;
    height: 1.82rem;
  }
  .i104 .content .item .body .right .title {
    font-size: 0.15rem;
    color: #666666;
    font-weight: bold;
    text-align: left;
    margin-top: 0.18rem;
    margin-bottom: 0.18rem;
  }
  .i104 .content .item .body .right .text {
    font-size: 0.08rem;
    color: #666;
    margin-top: 0.24rem;
    line-height: 0.2rem;
    text-indent: 2em;
    overflow-y: hidden;
  }
  .i104 .content .detail {
    padding-bottom: 60px;
  }
  .i104 .content .detail .title {
    font-size: 36px;
    padding: 0 90px;
    color: #6FBA2C;
    text-align: left;
    position: relative;
  }
  .i104 .content .detail .title .closed {
    position: absolute;
    width: 80px;
    cursor: pointer;
    height: 80px;
    right: 0;
    top: 0;
  }
  .i104 .content .detail .text {
    margin-top: 40px;
    font-size: 16px;
    line-height: 32px;
    color: #666;
  }
  .i104 .content .detail .img {
    display: block;
    width: 100%;
    margin-top: 40px;
  }
}
/*# sourceMappingURL=i104.css.map */