@media screen and (min-width: 1600px) {
  .i105 {
    padding-top: 100px;
    background-color: #fff;
    .banner {
      height: 420px;
      //background-image: url("./img/i05/banner.png");
      background-position: center;
      background-repeat: no-repeat;
    }
    .know {
      .container {
        background-color: #fff;
        padding: 0 140px;
        position: relative;
        top: -140px;
        box-shadow: 0 4px 4px #ddd;
        .line {
          //width: 38px;
          //height: 5px;
          //background-color: #198A2E;
          margin-top: 40px;
        }
        .title {
          font-size: 43px;
          margin-top: 70px;
          color: #198A2E;
          small {
            color: #999;
            font-size: 16px;
          }
          //padding: ;
        }
        .subTitle {
          font-size: 16px;
          margin-top: 50px;
          color: #666;
        }
        ul {
          list-style: none;
          padding-bottom: 30px;
          color: #666;
          font-size: 16px;
          padding-left: 0;
          .line {
            height: 2px;
            width: 100%;
            background-color: #999;
          }
          li {
            margin-top: 28px;
          }
        }
      }
    }
    .two {
      .title {
        width: 750px;
        display: block;
        margin: 0 auto;
      }
      .items {
        text-align: center;
        .conPic{
          display: block;
          width: 1094px;
          height: 560px;
          margin: 0 auto;
        }
      }
      .phone {
        display: block;
        width: 630px;
        margin: 0 auto 120px auto;
      }
    }
    .mapContainer {
      height: 580px;
      border: 4px solid #85C759;
      padding: 16px 20px;
      margin-bottom: 60px;
    }
    .map {
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (min-width: 992px)and (max-width: 1600px){
  .i105 {
    padding-top: 74px;
    background-color: #fff;
    .banner {
      height: 352px;
      background-size: auto 100%;
      //background-image: url("./img/i05/banner.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
    .know {
      .container {
        background-color: #fff;
        padding: 0 112px;
        position: relative;
        top: -112px;
        box-shadow: 0 4px 4px #ddd;
        .line {
          //width: 38px;
          //height: 5px;
          //background-color: #198A2E;
          margin-top: 32px;
        }
        .title {
          font-size: 34.4px;
          margin-top: 56px;
          color: #198A2E;
          small {
            color: #999;
            font-size: 16px;
          }
          //padding: ;
        }
        .subTitle {
          font-size: 16px;
          margin-top: 40px;
          color: #666;
        }
        ul {
          list-style: none;
          padding-bottom: 24px;
          color: #666;
          font-size: 12.8px;
          padding-left: 0;
          .line {
            height: 2px;
            width: 100%;
            background-color: #999;
          }
          li {
            margin-top: 28px;
          }
        }
      }
    }
    .two {
      .title {
        width: 600px;
        display: block;
        margin: 0 auto;
      }
      .items {
        text-align: center;
        .conPic{
          display: block;
          width: 875.2px;
          height: 448px;
          margin: 0 auto;
        }
      }

      .phone {
        display: block;
        width: 504px;
        margin:0 auto 96px auto;
      }
    }
    .mapContainer {
      height: 580px;
      border: 4px solid #85C759;
      padding: 16px 20px;
      margin-bottom: 60px;
    }
    .map {
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (max-width: 992px){
  .i105 {
    padding-top: 56px;
    background-color: #fff;
    .banner {
      height: 1.05rem;
      //background-image: url("./img/i05/banner.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
    .know {
      width: 3.56rem;
      margin: 0 auto;
      .container {
        background-color: #fff;
        padding: .15rem;
        position: relative;
        top: -.3rem;
        box-shadow: 0 4px 4px #ddd;
        .line {
          //width: 38px;
          //height: 5px;
          //background-color: #198A2E;
          margin-top: .2rem;
        }
        .title {
          font-size: .2rem;
          color: #198A2E;
          small {
            color: #999;
            font-size: .08rem;
          }
          //padding: ;
        }
        .subTitle {
          font-size: .08rem;
          margin-top: .25rem;
          color: #666;
        }
        ul {
          list-style: none;
          padding-bottom: .15rem;
          color: #666;
          font-size: .08rem;
          padding-left: 0;
          .line {
            height: 2px;
            width: 100%;
            background-color: #999;
          }
          li {
            margin-top: .14rem;
          }
        }
      }
    }
    .two {
      .title {
        width: 3.25rem;
        display: block;
        margin: 0 auto;
      }
      .items {
        text-align: center;
        margin-top: .25rem;
        .item {
          width: 128px;
          height: 162px;
          //margin: 0 20px;
          //margin-right: 6px;
          display: inline-block;
          position: relative;
          &.two {
            top: 12px
          }
          &.three {
            top: 36px;
          }
          &.four {
            top: 86px
          }
          &.five {
            top: 152px
          }
        }
        img{
          display: block;
          width: 100%
        }
      }
      .phone {
        display: block;
        width: 2.4rem;
        margin: 0 auto .3rem auto;
      }
    }
    .mapContainer {
      height: 290px;
      border: 2px solid #85C759;
      padding: 10px;
      margin-bottom: 30px;
    }
    .map {
      width: 100%;
      height: 100%;
    }
  }
}
