<div class="i105">
  <div ng-include="'header.html'"></div>
  <div class="banner" data-ng-style="{'background-image':'url('+staticRootPath+entity.banner+')'}">
    <!--<img width="100%" height="100%" ng-src="{{staticRootPath+entity.banner}}" alt="">-->
  </div>
  <div class="know">
    <div class="container">
      <!--<div class="line"></div>-->
      <div class="title">客户须知 <small>PRODUCT</small></div>
      <div class="subTitle">
        感谢您选择永辉彩食鲜成为您的合作伙伴，让我们有机会为您提供优质服务，为了保障您的权益，我们谨在此向您做如下告知：
      </div>
      <ul>
        <li ng-repeat="item in entity.contents">{{item}}</li>
        <div class="line"></div>
        <li ng-repeat="item in entity.infomations">{{item}}</li>
      </ul>
    </div>
  </div>
  <div class="two">
    <div class="container">
      <img class="title" src="./img/i05/two1.png" alt="">
      <div class="items">
        <img class="conPic" ng-src="{{staticRootPath+entity.picture}}" alt="">
      </div>
      <img class="phone" src="./img/i05/two3.png" alt="">
    </div>
  </div>
  <div class="mapContainer container">
    <div class="map" id="myMapTwo">

    </div>
  </div>

</div>
<div ng-include="'baseFooter.html'"></div>
