<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <base href="/" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <title>
      永辉彩食鲜官网-生鲜采购批发-生鲜食材配送工厂-食品加工中心-冷链物流
    </title>
    <meta name="keywords" content="永辉彩食鲜,生鲜采购,食品加工中心" />
    <meta
      name="description"
      content="永辉彩食鲜是永辉超市旗下一站式生鲜采购、生鲜批发、生鲜食材配送、食材食品加工解决服务商,拥有全球买手,从源头直采,全程冷链运输,致力于为用户提供安全、健康、高性价比的食材."
    />
    <meta http-equiv="Expires" content="0" />
    <link rel="shortcut icon" href="./img/icon.ico" />
    <link href="./bootstrap/less/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="common.css" />
    <!--<link rel="stylesheet" href="./css/aos-animation.css">-->
    <!--<link rel="stylesheet" href="./css/aos.css">-->
    <link rel="stylesheet" href="./css/fullpage.min.css" />
    <link rel="stylesheet" href="./css/swiper.min.css" />
    <script src="angular.min.js"></script>
    <script src="angular-route.js"></script>
    <script src="stacktrace.min.js"></script>
    <script
      type="text/javascript"
      src="http://api.map.baidu.com/api?v=2.0&ak=G3e7VsRWa1UjG4pAIq959Eqs5hDfHpXc"
    ></script>
    <script src="APIConnection.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/fullpage.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <link href="i100.css" rel="stylesheet" />
    <!-- <link href="i101.css" rel="stylesheet">
    <link href="i102.css" rel="stylesheet">
    <link href="i103.css" rel="stylesheet">
    <link href="i104.css" rel="stylesheet">
    <link href="i105.css" rel="stylesheet">
    <link href="i106.css" rel="stylesheet">
    <link href="i107.css" rel="stylesheet"> -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="./js/aos.js"></script>
    <script src="app.js"></script>
    <script src="header.js"></script>
    <script src="baseFooter.js"></script>
    <script src="i100.js"></script>
    <!--<script src="i101.js"></script>-->
    <!--<script src="i102.js"></script>-->
    <!--<script src="i103.js"></script>-->
    <!--<script src="i104.js"></script>-->
    <!--<script src="i105.js"></script>-->
    <!--<script src="i106.js"></script>-->
    <!--<script src="i107.js"></script>-->
    <script src="pageUtil.js"></script>
    <script src="/baiduUpload.js"></script>

    <script type="text/javascript">
      var Head = document.getElementsByTagName('head')[0],
        style = document.createElement('style')
      function linkScript(parm, fn) {
        var linkScript
        if (/\.css[^\.]*$/.test(parm)) {
          linkScript = document.createElement('link')
          linkScript.type = 'text/' + 'css'
          linkScript.rel = 'stylesheet'
          linkScript.href = parm
        } else {
          linkScript = document.createElement('script')
          linkScript.type = 'text/' + 'javascript'
          linkScript.src = parm
        }
        Head.insertBefore(linkScript, Head.lastChild)
        linkScript.onload = linkScript.onerror = function () {
          if (fn) fn()
        }
      }
      var htmlDc = document.getElementsByTagName('html')[0]
      setRootSize = function () {
        if ($(window).width() <= 992) {
          var clientWidth =
            document.documentElement.clientWidth || document.body.clientWidth
          var clientHeight =
            document.documentElement.clientHeight || document.body.clientHeight
          htmlDc.style.fontSize = clientWidth / 3.75 + 'px'
          htmlDc.style.minHeight = clientHeight + 'px'
        }
      }
      setRootSize()
      $(window).resize(function () {
        setRootSize()
      })
      if ($(window).width() <= 992) {
      } else {
        linkScript('./css/aos-animation.css')
        linkScript('./css/aos.css')
      }
    </script>
    <script type="text/javascript">
      var _hmt = _hmt || []
      ;(function () {
        var hm = document.createElement('script')
        hm.src = 'https://hm.baidu.com/hm.js?ab52f1ae5eb1c7a9e8bcd4373aebc978'
        var s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(hm, s)
      })()
    </script>
    <script type="text/javascript"></script>
  </head>

  <body ng-app="iweb" ng-controller="i100">
    <!-- <h1 style="float: left">永辉彩食鲜</h1> -->
    <h1 style="float: left; height: 0px;">永辉彩食鲜</h1>
    <div ng-include="'header.html'"></div>
    <div class="i100">
      <img
        class="hidden-xs hidden-sm phone"
        data-aos="fade-left"
        src="./img/phone.png"
        alt="彩食鲜全国统一联系电话"
      />
      <div id="fullpage">
        <div class="section">
          <img
            class="hidden-xs hidden-sm next-page"
            src="./img/jiantou.png"
            alt="彩食鲜官网指示标"
          />
          <div class="swiper-banner-container">
            <div class="swiper-wrapper">
              <div
                class="swiper-slide"
                ng-if="entity.status==='生效'"
                style="height: 100%;"
              >
                <!-- <video  muted="muted" loop="loop" id="video" autoplay="autoplay" data-autoplay style="width: 100%"> -->
                <!-- <source   ng-src="{{staticRootPath+entity.video|trustUrl}}" /> -->
                <!--<source   src="https://www.meicai.cn/media/video.02023024.mp4" />-->
                <!--<source   src="http://47.92.169.34/cgi-bin/download.pl?proj=demo8&fid=f15669134433035058975111" />-->
                <!--<source   src="http://47.92.169.34/cgi-bin/download.pl?proj=demo8&fid=f15669134433035058975111" />-->
                <!-- </video> -->
              </div>
              <div
                class="swiper-slide"
                style="height: 100%;"
                ng-repeat="(index,item) in entity.banner"
                ng-click="goLink(item)"
              >
                <img
                  ng-src="{{staticRootPath+item.fid}}"
                  alt="彩食鲜官网轮播图"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="section told">
          <img
            class="hidden-xs hidden-sm next-page"
            src="./img/jiantou.png"
            alt="彩食鲜官网指示标"
          />
          <div class="container">
            <div class="title" data-aos="fade-down">
              <img
                src="./img/i103/told/title.png"
                alt="彩食鲜官网首页公司总介绍"
              />
            </div>
            <div class="introduce">
              <!--<div class="col-lg-3 col-md-3 col-xs-6" data-aos="zoom-in-up" onclick="goto_view('profile')">-->
              <!-- <div class='comapny-introduce'>
              北京彩食鲜食品有限公司是永辉彩食鲜发展有限公司的北京分公司，是永辉超市旗下的食材中央管理中心与产品供应链集成平台之一，目前承载着北京及其周边区域的B2B（政企单位、部队食堂及酒店、餐饮等行业顾客、食品加工型企业）、B2B2C及零售连锁渠道各业态门店（含大、中及小型门店等）业务，致力于为用户提供安全、健康、高性价比的食材。
            </div> -->
              <div class="col-lg-3 col-md-3 col-xs-6" data-aos="zoom-in-up">
                <a href="/profile">
                  <div class="car">
                    <img
                      ng-src="{{staticRootPath+entity.company1}}"
                      alt="彩食鲜官网企业介绍"
                    />
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6" data-aos="zoom-in-up">
                <a href="/honor">
                  <div class="car">
                    <img
                      ng-src="{{staticRootPath+entity.company2}}"
                      alt="彩食鲜官网企业荣誉介绍"
                    />
                  </div>
                </a>
              </div>
              <div
                class="col-lg-3 col-md-3 col-xs-6"
                data-aos="zoom-in-up"
                onclick="goto_view('development')"
              >
                <a href="/development">
                  <div class="car">
                    <img
                      ng-src="{{staticRootPath+entity.company3}}"
                      alt="彩食鲜官网首页企业发展历程"
                    />
                  </div>
                </a>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-6" data-aos="zoom-in-up">
                <a href="/target">
                  <div class="car">
                    <img
                      ng-src="{{staticRootPath+entity.company4}}"
                      alt="彩食鲜官网首页企业发展目标"
                    />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- <div ng-style="background-image:url{{'(staticRootPath'+entity.national1+'&proj=yh_ga)'}}">{{(staticRootPath+entity.national1+'&proj=yh_ga)'}}</div> -->
        <div
          class="section comply"
          data-ng-style="{'background-image':'url('+staticRootPath+entity.national1+')'}"
        >
          <img
            class="hidden-xs hidden-sm next-page"
            src="./img/jiantou.png"
            alt="彩食鲜官网指示箭头"
          />
          <div class="container">
            <div class="bg-container">
              <div class="mapContainer" data-aos="zoom-in">
                <!-- <a href="/factory/beijing"><div class="city bj" alt=""></div></a>
              <a href="/factory/sichuan"><div class="city sc" alt=""></div></a>
              <a href="/factory/jiangsu"><div class="city js" alt=""></div></a>
              <a href="/factory/anhui"><div class="city ah" alt=""></div></a>
              <a href="/factory/fujian"><div class="city fj" alt=""></div></a>
              <a href="/factory/chongqing"><div class="city cq" alt=""></div></a> -->
                <!-- <img class="map"  src="./img/i100/map/map.png" alt="彩食鲜官网全国布局地图"> -->
                <img
                  class="map"
                  src="./img/i100/map/map_new_20200605.png"
                  alt="彩食鲜官网全国布局地图"
                />
                <!-- <img class="map"  src="./img/index-map.png"  alt="彩食鲜官网全国布局地图"> -->
              </div>
            </div>
            <div class="map-text">
              <img
                class="mapTextLeft"
                data-aos="fade-right"
                src="./img/i100/map/title.png"
                alt="彩食鲜官网全国布局展示"
              />
              <!-- <img class="mapTextLeft"  data-aos="fade-right" src="./img/index-map.png" alt="彩食鲜官网全国布局展示"> -->
              <!-- <img class="mapSubTextLeft" data-aos="fade-right" src="./img/mapSubTextLeft.png" alt="彩食鲜全国九大区域"> -->
              <img
                class="mapSubTextLeft"
                data-aos="fade-right"
                src="./img/12location_2020723.png"
                alt="彩食鲜全国十二大区域"
              />
              <img
                class="mapSubTextLeft"
                data-aos="fade-left"
                src="./img/17warelist_20200723.png"
                alt="彩食鲜全国17大中央生鲜工厂仓"
              />
            </div>
          </div>
        </div>
        <div class="section firend">
          <img
            class="hidden-xs hidden-sm next-page"
            src="./img/jiantou.png"
            alt="彩食鲜官网指示标志"
          />
          <div class="container">
            <img
              class="section-title hidden-xs"
              data-aos="fade-down"
              src="./img/i100/serve/title.png"
              alt="彩食鲜服务客户说明图片"
            />
            <img
              class="section-title visible-xs"
              data-aos="fade-down"
              src="./img/i100/serve/titlem.png"
              alt="彩食鲜服务客户说明文字"
            />
            <div class="items clearfix">
              <div
                ng-repeat="(index,value) in entity.ptrcustomer"
                class="col-lg-4 col-md-4 col-xs-6"
                data-aos="flip-right"
                ng-click="goServer(index+1)"
              >
                <img
                  ng-src="{{staticRootPath+value.hpicture}}"
                  alt="彩食鲜服务客户类型详情展示"
                />
              </div>
            </div>
            <img
              class="subTitle"
              data-aos="slide-up"
              src="./img/i100/serve/subTitle.png"
              alt="彩食鲜部分客户展示"
            />
            <div class="container-swiper" data-aos="slide-up">
              <div class="siderLeft" ng-click="slidePrev()" alt="">
                <!--<img src="./img/siderLeft.png" alt="">-->
              </div>
              <div class="siderRight" ng-click="slideNext()" alt="">
                <!--<img  src="./img/siderRight.png" >-->
              </div>
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div
                    ng-repeat="item in entity.homepartner"
                    class="swiper-slide"
                  >
                    <img
                      ng-src="{{staticRootPath+item.fid}}"
                      alt="彩食鲜部分客户名字展示"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section news">
          <img
            class="hidden-xs hidden-sm next-page"
            src="./img/jiantou.png"
            alt="彩食鲜官网导航指示标志"
          />
          <div class="container">
            <div class="title">
              <img
                class="section-title"
                data-aos="fade-down"
                src="./img/i100/news/title.png"
                alt="彩食鲜官网新闻说明"
              />
              <div class="more hidden-xs" onclick="goto_view('news')">
                <a href="/news" class="a_onclick">更多新闻</a>
              </div>
              <!-- <div class="more hidden-xs" ></div>
              <a class="section-title" href="/news">更多新闻</a>
            </div> -->
              <!-- <div class="more hidden-xs" ></div> 
              <a class="more hidden-xs" href="/news">更多新闻</a>
            </div> -->
            </div>

            <div class="newsItems clearfix">
              <div
                class="col-lg-6 col-md-6"
                ng-repeat="(index,item) in news"
                data-aos="zoom-out-up"
                ng-click="goDetail(item['_id'])"
              >
                <div ng-class="{{['new', index<2?'sub':'']}}">
                  <div class="left">
                    <img
                      ng-src="{{staticRootPath+item.homepicture}}"
                      alt="新闻详情图片"
                    />
                  </div>
                  <div class="center">
                    <div class="date">
                      <div class="day">{{item.day}}</div>
                      <div class="month">{{item.mon}}/{{item.year}}</div>
                    </div>
                  </div>
                  <div class="right">
                    <div class="title">{{item.title}}</div>
                    <div class="text">
                      {{item.description}}
                    </div>
                    <img src="./img/detailBtn.png" alt="新闻详情图片点击按钮" />
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="more-m visible-xs" onclick="goto_view('news')">
            更多新闻
          </div> -->
            <div class="more-m visible-xs">
              <a href="/news" class="a_onclick">更多新闻</a>
            </div>
          </div>
        </div>
        <div class="section join">
          <img
            class="hidden-xs hidden-sm next-page"
            src="./img/jiantou.png"
            alt="彩食鲜官网导航指示标志"
          />
          <div class="container">
            <!-- <div onclick="goto_view('join')" style="cursor: pointer">
            <img class="a" data-aos="fade-down"   src="./img/i100/join/joinUs.png" alt="欢迎加入永辉彩食鲜">
            <img class="b" data-aos="zoom-in-right"  ng-src="{{staticRootPath+entity.join1}}" alt="永辉彩食鲜欢迎您的加入">
          </div> -->
            <div style="cursor: pointer;">
              <a href="/join" class="a_onclick">
                <img
                  class="a"
                  data-aos="fade-down"
                  src="./img/i100/join/joinUs.png"
                  alt="欢迎加入永辉彩食鲜"
                />
                <img
                  class="b"
                  data-aos="zoom-in-right"
                  ng-src="{{staticRootPath+entity.join1}}"
                  alt="永辉彩食鲜欢迎您的加入"
                />
              </a>
            </div>
            <!-- <div onclick="goto_view('cooperation')" style="cursor: pointer"> -->
            <!--&lt;!&ndash;<img src="./img/joinImgL.png" alt="">&ndash;&gt;-->
            <!--<img class="d" data-aos="zoom-in-right" width="417" src="./img/hezuo.png" alt="">-->
            <!--<img class="e" data-aos="flip-up" width="674" src="./img/hezuot.png" alt="">-->
            <!-- <img class="f" data-aos="fade-up" width="878" ng-src="{{staticRootPath+entity.join2}}"  alt="永辉彩食鲜欢迎您前来洽谈合作"> -->
            <!-- </div> -->
            <div style="cursor: pointer;">
              <!--&lt;!&ndash;<img src="./img/joinImgL.png" alt="">&ndash;&gt;-->
              <!--<img class="d" data-aos="zoom-in-right" width="417" src="./img/hezuo.png" alt="">-->
              <!--<img class="e" data-aos="flip-up" width="674" src="./img/hezuot.png" alt="">-->
              <a href="/cooperation" class="a_onclick">
                <img
                  class="f"
                  data-aos="fade-up"
                  width="878"
                  ng-src="{{staticRootPath+entity.join2}}"
                  alt="永辉彩食鲜欢迎您前来洽谈合作"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="section qrcode">
          <img
            ng-src="{{staticRootPath+entity.qr1}}"
            style="width: 100%;"
            alt="永辉彩食鲜主张合作共赢，欢迎扫码关注公众号"
          />
          <div style="width: 80%; margin: 0 auto;">
            <h4>永辉彩食鲜官网提供生鲜采购批发服务</h4>
            <p style="text-indent: 20px;">
              永辉彩食鲜在全国6地设有生鲜中央工厂，各地生鲜食材配送工厂专业提供食品加工及生鲜采购批发服务。彩食鲜生鲜中央工厂有果蔬车间、净菜车间、肉品车间等食品加工中心，海量新鲜食材供应，按需定制，冷链物流，专业设备最大程度满足客户的需求，致力为客户提供安全、健康、高性价比的食材。
            </p>
          </div>
          <!--<div class="container" data-aos="fade-up">-->
          <!--<img class="code"  ng-src="{{staticRootPath+entity.qr1}}" alt="">-->
          <!--<p class="text-center"  style="color: #666;font-size: 24px;margin-top: 25px">永辉彩食鲜服务号</p>-->
          <!--</div>-->
        </div>
        <!-- <div  ng-if="device==='pc'" ng-include="'footer.html'"></div> -->
        <div ng-if="device==='pc' ">
          <div class="footer">
            <div
              class="text-center"
              style="
                font-size: 12px;
                height: 99px;
                line-height: 99px;
                background-color: #fff;
              "
            >
              永辉彩食鲜发展有限公司
              <a
                class="link"
                href="http://www.beian.miit.gov.cn"
                target="_blank"
                >闽ICP备19014477号</a
              >
              <span style="width: 300px; margin: 0 auto;">
                <a
                  class="link link_right national_emblem_box"
                  href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010602007029"
                  target="_blank"
                >
                  <img
                    class="link national_emblem"
                    src="/img/icp.png"
                    style="height: 20px; width: 20px; float: none;"
                  />
                  <span
                    style="
                      display: inline-block;
                      height: 20px;
                      line-height: 20px;
                      margin: 0px 0px 0px 0px;
                      color: #333;
                    "
                    >京公网安备 11010602007029号</span
                  >
                </a>
              </span>
              <a
                class="link link_right"
                href="http://blog.freshfood.cn/"
                target="_blank"
                >彩食鲜技术博客</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="device==='mobile'" ng-include="'baseFooter.html'"></div>
  </body>
</html>
