@media screen and (min-width: 1600px) {
  .i105 {
    padding-top: 100px;
    background-color: #fff;
  }
  .i105 .banner {
    height: 420px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .i105 .know .container {
    background-color: #fff;
    padding: 0 140px;
    position: relative;
    top: -140px;
    box-shadow: 0 4px 4px #ddd;
  }
  .i105 .know .container .line {
    margin-top: 40px;
  }
  .i105 .know .container .title {
    font-size: 43px;
    margin-top: 70px;
    color: #198A2E;
  }
  .i105 .know .container .title small {
    color: #999;
    font-size: 16px;
  }
  .i105 .know .container .subTitle {
    font-size: 16px;
    margin-top: 50px;
    color: #666;
  }
  .i105 .know .container ul {
    list-style: none;
    padding-bottom: 30px;
    color: #666;
    font-size: 16px;
    padding-left: 0;
  }
  .i105 .know .container ul .line {
    height: 2px;
    width: 100%;
    background-color: #999;
  }
  .i105 .know .container ul li {
    margin-top: 28px;
  }
  .i105 .two .title {
    width: 750px;
    display: block;
    margin: 0 auto;
  }
  .i105 .two .items {
    text-align: center;
  }
  .i105 .two .items .conPic {
    display: block;
    width: 1094px;
    height: 560px;
    margin: 0 auto;
  }
  .i105 .two .phone {
    display: block;
    width: 630px;
    margin: 0 auto 120px auto;
  }
  .i105 .mapContainer {
    height: 580px;
    border: 4px solid #85C759;
    padding: 16px 20px;
    margin-bottom: 60px;
  }
  .i105 .map {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1600px) {
  .i105 {
    padding-top: 74px;
    background-color: #fff;
  }
  .i105 .banner {
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .i105 .know .container {
    background-color: #fff;
    padding: 0 112px;
    position: relative;
    top: -112px;
    box-shadow: 0 4px 4px #ddd;
  }
  .i105 .know .container .line {
    margin-top: 32px;
  }
  .i105 .know .container .title {
    font-size: 34.4px;
    margin-top: 56px;
    color: #198A2E;
  }
  .i105 .know .container .title small {
    color: #999;
    font-size: 16px;
  }
  .i105 .know .container .subTitle {
    font-size: 16px;
    margin-top: 40px;
    color: #666;
  }
  .i105 .know .container ul {
    list-style: none;
    padding-bottom: 24px;
    color: #666;
    font-size: 12.8px;
    padding-left: 0;
  }
  .i105 .know .container ul .line {
    height: 2px;
    width: 100%;
    background-color: #999;
  }
  .i105 .know .container ul li {
    margin-top: 28px;
  }
  .i105 .two .title {
    width: 600px;
    display: block;
    margin: 0 auto;
  }
  .i105 .two .items {
    text-align: center;
  }
  .i105 .two .items .conPic {
    display: block;
    width: 875.2px;
    height: 448px;
    margin: 0 auto;
  }
  .i105 .two .phone {
    display: block;
    width: 504px;
    margin: 0 auto 96px auto;
  }
  .i105 .mapContainer {
    height: 580px;
    border: 4px solid #85C759;
    padding: 16px 20px;
    margin-bottom: 60px;
  }
  .i105 .map {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 992px) {
  .i105 {
    padding-top: 56px;
    background-color: #fff;
  }
  .i105 .banner {
    height: 1.05rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .i105 .know {
    width: 3.56rem;
    margin: 0 auto;
  }
  .i105 .know .container {
    background-color: #fff;
    padding: 0.15rem;
    position: relative;
    top: -0.3rem;
    box-shadow: 0 4px 4px #ddd;
  }
  .i105 .know .container .line {
    margin-top: 0.2rem;
  }
  .i105 .know .container .title {
    font-size: 0.2rem;
    color: #198A2E;
  }
  .i105 .know .container .title small {
    color: #999;
    font-size: 0.08rem;
  }
  .i105 .know .container .subTitle {
    font-size: 0.08rem;
    margin-top: 0.25rem;
    color: #666;
  }
  .i105 .know .container ul {
    list-style: none;
    padding-bottom: 0.15rem;
    color: #666;
    font-size: 0.08rem;
    padding-left: 0;
  }
  .i105 .know .container ul .line {
    height: 2px;
    width: 100%;
    background-color: #999;
  }
  .i105 .know .container ul li {
    margin-top: 0.14rem;
  }
  .i105 .two .title {
    width: 3.25rem;
    display: block;
    margin: 0 auto;
  }
  .i105 .two .items {
    text-align: center;
    margin-top: 0.25rem;
  }
  .i105 .two .items .item {
    width: 128px;
    height: 162px;
    display: inline-block;
    position: relative;
  }
  .i105 .two .items .item.two {
    top: 12px;
  }
  .i105 .two .items .item.three {
    top: 36px;
  }
  .i105 .two .items .item.four {
    top: 86px;
  }
  .i105 .two .items .item.five {
    top: 152px;
  }
  .i105 .two .items img {
    display: block;
    width: 100%;
  }
  .i105 .two .phone {
    display: block;
    width: 2.4rem;
    margin: 0 auto 0.3rem auto;
  }
  .i105 .mapContainer {
    height: 290px;
    border: 2px solid #85C759;
    padding: 10px;
    margin-bottom: 30px;
  }
  .i105 .map {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=i105.css.map */